{% extends "shared/page.base.html.twig" %}
{% block stylesheets %}
    {{ parent()}}
    <link href="{{asset('js/smart-forms/smart-forms.css')}}" rel="stylesheet">
{% endblock %}

{% block  content %}
    <section class="page-title-6">
        <div class="container">
            <div class="row">    
                <h3 class="font-weight-8 text-center"><a href="{{path('home')}}"><span>Builders</span><span class="text-success">Hub</span></a> Forgotten Password</h3>                             
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <section>
        <div class="container">
            <div class="row">                          
                <div class="smart-wrap">
                    <div class="smart-forms smart-container transparent wrap-2">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="well">
                                        <form class="form-horizontal" action="{{path('forgotten_password') }}" method="POST">
                                            {% if  message is defined %}
                                                <div class="alert alert-success">                                       
                                                    {{ message }}                                             
                                                </div>
                                                <p align='right'>
                                                    <a href="{{path('security_login_form') }}">Login</a>  
                                                </p>
                                            {% else %}    
                                                <div class="form-group has-feedback">                                       
                                                    <div class="col-sm-offset-1 col-sm-10 col-sm-offset-1">
                                                        {% if  error is defined %}
                                                            <span style="color: red">{{ error }}</span>
                                                        {% endif %}
                                                        <div class="spacer-t30 spacer-b30">
                                                            <div class="tagline"><span> Enter Your Email to Reset Password </span></div><!-- .tagline -->
                                                        </div>
                                                        <div class="section">
                                                            <label class="field prepend-icon">
                                                                {{form_widget(form.email, { 'attr': {class: 'form-control', placeholder: 'Enter Your Email Address', type:'email'} })}}                                          
                                                                <span class="field-icon"><i class="fa fa-user"></i></span>  
                                                            </label>
                                                        </div><!-- end section -->    

                                                    </div>
                                                </div>                                    
                                                <div class="form-group">
                                                    <div class="col-sm-offset-1 col-sm-10 col-sm-offset-1">                                           
                                                        <p class="pull-right">
                                                            <button type="submit" class="button btn-primary">Submit</button>

                                                        </p>  
                                                        <ul>
                                                            <li><a href="{{path('security_login_form') }}"> Back to Login </a></li>
                                                        </ul> 

                                                    </div>
                                                </div>  
                                                {{ form_row(form._token) }} 
                                            {% endif %}  
                                        </form>

                                    </div>
                                </div><!-- end .smart-forms section -->
                            </div><!-- end .smart-wrap section -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end item -->
    <div class="clearfix"></div>
{% endblock %}