{% extends "shared/page.base.html.twig" %}
{% block stylesheets %}
    {{ parent()}}
    <link href="{{asset('css/blog2.css')}}" rel="stylesheet">
{% endblock %}
{% block  content %}
    <section class="page-title-4">
        <div class="container">
            <div class="row">
                <h1 class="font-weight-8 text-center">Engage on BuildersHub</h1>
                <h5 class="font-weight-5 text-center less2">Property owners, suppliers, contractors, engineers, archtect, artisans, surveyors, cost estimators, students the general public and related professionals interact to promote excellence in the built environment. </h5>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <!-- end page title -->
    <section class="sec-padding">
        <div class="container">
            <div class="row">                
                <div class="col-md-12 text-left">
                    <ol class="breadcrumbs-2">
                        <li><a href="{{path('home')}}"><i class="fa fa-home" aria-hidden="true"></i> Home</a><span><i class="fa fa-angle-right" aria-hidden="true"></i></span></li>
                        <li class="current"><a href="#"><i class="fa fa-comments" aria-hidden="true"></i> Engage</a></li>
                    </ol>
                </div>
            </div>
            <div class="col-divider-margin-1"></div>
            <div class=" divider-line solid light"></div>  
            <div class="col-divider-margin-1"></div>  
            <div class="row">
                <div class="col-md-3 col-sm-9 col-xs-12">

                    <div class="bg2-right-col-item-holder"> <img src="images/bg2-8.jpg" alt="" class="img-responsive"/> <br/>
                        <h5 class="dosis uppercase bg2-right-col-item-title">About Me</h5>
                        <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue. </p>
                        <br/>
                        <ul class="social-links">
                            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                    </div>                       
                    <div class="bg2-right-col-item-holder">
                        <h5 class="dosis uppercase bg2-right-col-item-title">Categories</h5>
                        <ul class="bg2-rightcol-links">
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Education</a></li>
                            <li><a class="active" href="#">Travel</a></li>
                            <li><a href="#">Creative</a></li>
                            <li><a href="#">Wedding</a></li>
                            <li><a href="#">Restaurant</a></li>
                        </ul>
                    </div>
                    <!--end item holder-->

                    <div class="bg2-right-col-item-holder">
                        <h5 class="dosis uppercase bg2-right-col-item-title">Trending</h5>
                        <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                            <div class="imgbox-small left"> <img src="images/bg2-9.jpg" alt="" class="img-responsive"/></div>
                            <div class="text-box-right">
                                <h6 class="nopadding dosis"><a href="#" class="text-hover-gyellow">Nullam turpis Cras dapibusscing</a></h6>
                                <div class="blog-post-info padding-top-1"> <span> By Benjamin</span> <span> 15 Comments</span> </div>
                            </div>
                        </div>
                        <!--end post-->

                        <div class="divider-line solid light margin"></div>
                        <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                            <div class="imgbox-small left"> <img src="images/bg2-10.jpg" alt="" class="img-responsive"/></div>
                            <div class="text-box-right">
                                <h6 class="uppercase nopadding dosis"><a href="#" class="text-hover-gyellow">Nullam turpis Cras dapibusscing</a></h6>
                                <div class="blog-post-info padding-top-1"> <span> By Benjamin</span> <span> 15 Comments</span> </div>
                            </div>
                        </div>
                        <!--end post-->

                        <div class="divider-line solid light margin"></div>
                        <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                            <div class="imgbox-small left"> <img src="images/bg2-11.jpg" alt="" class="img-responsive"/></div>
                            <div class="text-box-right">
                                <h6 class="uppercase nopadding dosis"><a href="#" class="text-hover-gyellow">Nullam turpis Cras dapibusscing</a></h6>
                                <div class="blog-post-info padding-top-1"> <span> By Benjamin</span> <span> 15 Comments</span> </div>
                            </div>
                        </div>
                        <!--end post--> 
                    </div>
                    <!--end item holder-->

                    <div class="bg2-right-col-item-holder">
                        <h5 class="dosis uppercase bg2-right-col-item-title">Tags</h5>
                        <ul class="bg2-tags">
                            <li><a href="#">Animation</a></li>
                            <li><a href="#">Art</a></li>
                            <li><a href="#">UI Design</a></li>
                            <li><a href="#">Photography</a></li>
                            <li><a class="active" href="#">Design</a></li>
                            <li><a href="#">Art</a></li>
                            <li><a href="#">Responsive</a></li>
                            <li><a href="#">Develop</a></li>
                        </ul>
                    </div>
                    <!--end item holder-->

                    <div class="bg2-right-col-item-holder">
                        <h5 class="dosis uppercase bg2-right-col-item-title">Newsletter</h5>
                        <input type="text" name="name" class="bg2-news-letter" value="Enter your e-mail" maxlength="100" />
                    </div>
                    <!--end item holder-->

                    <div class="bg2-right-col-item-holder">
                        <h5 class="dosis uppercase bg2-right-col-item-title">Featured Works</h5>
                        <ul class="sidebar-works">
                            <li><a href="#"><img src="images/bg2-12.jpg" alt=""/></a></li>
                            <li><a href="#"><img src="images/bg2-13.jpg" alt=""/></a></li>
                            <li><a href="#"><img src="images/bg2-14.jpg" alt=""/></a></li>
                            <li><a href="#"><img src="images/bg2-15.jpg" alt=""/></a></li>
                            <li><a href="#"><img src="images/bg2-16.jpg" alt=""/></a></li>
                            <li class="last"><a href="#"><img src="images/bg2-17.jpg" alt=""/></a></li>
                        </ul>
                    </div>
                    <!--end item holder--> 
                </div>
                <!--end left col main--> 
                <div class="col-md-9 col-sm-3 col-xs-12 slide-controls-primary">
                    <div class="col-md-4 col-sm-6">
                        <div class="iconbox-small round left outline-blue"><span class="icon-camera" data-icon="&#xe076;"></span></div>
                        <div class="text-box-right">
                            <h4><a href="{{path("snapshare_index")}}">Snapshare</a></h4>
                            <p>Help protect public property and hold leaders accountable. Just snap and share</p>
                            <br/>
                            <a href="#" class="read-more">Read more <i class="fa fa-angle-double-right"></i></a> </div>
                    </div>
                    <!--end item -->
                    <div class="col-md-4 col-sm-6">
                        <div class="iconbox-small round left outline-orange"><span class="icon-chat" data-icon="&#xe076;"></span></div>
                        <div class="text-box-right">
                            <h4><a href="#">Conversations</a></h4>
                            <p>Meet like minds, discuss, share industry insight and promote excellence in the built environment</p>
                            <br/>
                            <a href="#" class="read-more">Read more <i class="fa fa-angle-double-right"></i></a> </div>
                    </div>
                    <!--end item -->
                    <div class="col-md-4 col-sm-6">
                        <div class="iconbox-small left round outline-cyan"><span class="icon-lightbulb" data-icon="&#xe076;"></span></div>
                        <div class="text-box-right">
                            <h4><a href="#">New Ideas</a></h4>
                            <p>Move out of your confort zone, challenge accepted norms, think change!</p>
                            <br/>
                            <a href="#" class="read-more">Read more <i class="fa fa-angle-double-right"></i></a> </div>
                    </div>
                    <div class="col-divider-margin-1"></div>
                    <div class=" divider-line solid light"></div>  
                    <div class="col-divider-margin-1"></div> 
                    <div class="divider" style="margin-top: 30px">
                        <span class="text-success"><strong>Trending on the BuildersHub</strong></span>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="divider divider-left">
                                <i class="fa fa-comments" aria-hidden="true"></i>
                            </div> 
                            <ul class="list-2 bg-white">
                                <li>
                                    <a href='#'>
                                        <div class="imgbox-small round overflow-hidden left"><img src="images/shortcodes/26.jpg" alt="" class="img-responsive"/></div>
                                        <div class="text-box-right">
                                            <h5 class="nopadding title">Graphic Design</h5>
                                            <p class="padding-top-1"> Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo. </p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href='#'>
                                        <div class="imgbox-small round overflow-hidden left"><img src="images/shortcodes/27.jpg" alt="" class="img-responsive"/></div>
                                        <div class="text-box-right">
                                            <h5 class="nopadding title">Graphic Design</h5>
                                            <p class="padding-top-1"> Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo. </p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href='#'>
                                        <div class="imgbox-small round overflow-hidden left"><img src="images/shortcodes/28.jpg" alt="" class="img-responsive"/></div>
                                        <div class="text-box-right">
                                            <h5 class="nopadding title">Graphic Design</h5>
                                            <p class="padding-top-1"> Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo. </p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <div class="divider divider-left">
                                <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                            </div> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="divider divider-left">
                                <i class="fa fa-camera" aria-hidden="true"></i>
                            </div> 
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <a href='#'>
                                    <div class="img-hover-4">
                                        <div class="text-box ">
                                            <h5 class="text-white">Animations</h5>
                                            <p class="text-light">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue.</p>
                                        </div>
                                        <img src="images/shortcodes/25.jpg" alt="" class="img-responsive"/> 
                                    </div>
                                </a>
                            </div>
                            <!--end item-->

                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <a href='#'>
                                    <div class="img-hover-4">
                                        <div class="text-box ">
                                            <h5 class="text-white">Animations</h5>
                                            <p class="text-light">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue.</p>
                                        </div>
                                        <img src="images/shortcodes/26.jpg" alt="" class="img-responsive"/> 
                                    </div>
                                </a>
                            </div>
                            <!--end item-->

                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <a href='#'>
                                    <div class="img-hover-4">
                                        <div class="text-box ">
                                            <h5 class="text-white">Animations</h5>
                                            <p class="text-light">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue.</p>
                                        </div>
                                        <img src="images/shortcodes/27.jpg" alt="" class="img-responsive"/> </div>
                                </a>
                            </div>
                            <!--end item-->

                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <a href='#'>
                                    <div class="img-hover-4">
                                        <div class="text-box ">
                                            <h5 class="text-white">Animations</h5>
                                            <p class="text-light">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue.</p>
                                        </div>
                                        <img src="images/shortcodes/28.jpg" alt="" class="img-responsive"/> </div>
                                </a>
                            </div>
                            <!--end item--> 
                        </div>
                    </div>
                </div>
                <!--end right col main-->
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <!-- end section -->
{% endblock %}
{% block pageScripts %} 
    {{parent()}}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="js/counterup/jquery.counterup.min.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $('.counter').counterUp({
                delay: 10,
                time: 5000
            });
        });
    </script>
{% endblock %}