{% extends 'hubernize/shared/hubernize.admin.base.html.twig' %}
{% block stylesheets %}
    {{ parent() }} 
    <link rel="stylesheet" href="{{asset('js/smart-forms/smart-forms.css')}}">

    <!-- Select2 -->
{% endblock %}
{% block breadcrumbs %}
    <li><a href="{{path('hubernize_list_equipment')}}">Equipment List</a></li>
    <li class="active"><span>You editing {{equipment}}</span></li>
    {% endblock %}
    {% block crumbLinks %}
    <li>
        <a class="sonata-action-element" href="{{path('hubernize_save_equipment', {'action':'add'})}}"><i class="fa fa-plus-circle" aria-hidden="true"></i>
            Add New Equipment
        </a>
    </li>
{% endblock %}
{% block listMode %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default box-solid">
                <div class="box-header">
                    <h3 class="box-title"><span class="text-success">{{equipment}}</span> </h3>                    
                    <div class="box-tools pull-right">
                        <!-- <a  data-toggle="modal" class="btn btn-success btn-sm" href="#validityDateDlg" style="color: white">
                             Set Price Validity Date <span class="fa fa-calendar"></span>
                         </a>-->
                    </div>                  
                </div><!-- /.box-header -->
                <div class="box-body">
                    {{ include("hubernize/inventory/includes/equipment.form.html.twig") }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('plugins/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('plugins/datatables/dataTables.bootstrap.min.js')}}"></script>
    <script>
        jQuery(function ($) {

        });
    </script>
{% endblock %}