{% extends 'hubernize/shared/hubernize.admin.base.html.twig' %}
{% block stylesheets %}
    {{ parent() }} 
    <link rel="stylesheet" href="{{asset('plugins/datatables/dataTables.bootstrap.css')}}">
    <!-- Select2 -->
{% endblock %}
{% block breadcrumbs %}
    <li class="active"><span>Equipment List</span></li>
    {% endblock %}
    {% block crumbLinks %}
    <li>
        <a class="sonata-action-element" href="{{path('hubernize_save_equipment', {'action':'add'})}}"><i class="fa fa-plus-circle" aria-hidden="true"></i>
            Add Equipment
        </a>
    </li>
{% endblock %}
{% block listMode %}
    <a href="{{path('hubernize_list_equipment', {'list_mode':'list'})}}" class="btn btn-default navbar-btn btn-sm {{listMode=='list' or listMode is null  ? 'active'}}"><i class="fa fa-list fa-fw"></i></a>
    <a href="{{path('hubernize_list_equipment', {'list_mode':'mosaic'})}}" class="btn btn-default navbar-btn btn-sm {{listMode=='mosaic'?'active'}}"><i class="fa fa-th-large fa-fw"></i></a>
    {% endblock %}
    {% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default box-solid">
                <div class="box-header">
                    <h3 class="box-title">List of <span class="text-success">{{company}}</span> Equipment</h3>                    
                    <div class="box-tools pull-right">
                        <!-- <a  data-toggle="modal" class="btn btn-success btn-sm" href="#validityDateDlg" style="color: white">
                             Set Price Validity Date <span class="fa fa-calendar"></span>
                         </a>-->
                    </div>                  
                </div><!-- /.box-header -->
                <div class="box-body">
                    {{ include('hubernize/inventory/includes/advertise.for.rent.dialog.html.twig') }}
                    {% if equipmentList|length > 0 %}
                        {% if listMode == 'mosaic' %}
                            {% for equipment in equipmentList %}
                                <div class="col-xs-6 col-sm-3 mosaic-box sonata-ba-list-field-batch sonata-ba-list-field"
                                     objectId="{{equipment.id}}">
                                    <a class="mosaic-inner-link"
                                       href="{{path('hubernize_save_equipment', {'action':'edit', 'slug':equipment.slug})}}">
                                        <div class="mosaic-box-outter">
                                            <div class="mosaic-inner-box">
                                                <div class="mosaic-inner-box-default">
                                                    <img src="{{equipment.featureImage is not null ? asset(equipment.featureImage|imagine_filter('hub_thumbnail'))}}"/>
                                                    <span class="mosaic-box-label label label-primary pull-right">{{equipment.category}}</span>
                                                </div>
                                                <div class="mosaic-inner-box-hover">
                                                    <span class="mosaic-box-label label label-primary pull-right">{{equipment.category}}</span>
                                                </div>
                                            </div>
                                            <div class="mosaic-inner-text">
                                                {{equipment}} <span class="text-danger">({{equipment.registrationNumber is not null ? equipment.registrationNumber : equipment.assetLabel}})</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                            <div class="row">               
                                <div class="col-md-12">
                                    <div class="pagination pagination-sm no-margin pull-right">                        
                                        {{ knp_pagination_render(equipmentList) }}
                                        <span class="show-resuilt">Showing <span>{{ equipmentList.getPaginationData.firstItemNumber }} - {{ equipmentList.getPaginationData.lastItemNumber }}</span> of <span>{{equipmentList.totalItemCount}}</span> results</span>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            {{ include("hubernize/inventory/includes/equipment.table.html.twig") }}
                        {% endif %}
                    {% else %}
                        <div class="alert alert-warning">
                            <h4>No Equipment Entered Yet!</h4>
                            <strong>{{company}}</strong> has not yet added any equipment, machines or hand tools to its inventory list
                        </div>
                    {% endif %}
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('plugins/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('plugins/datatables/dataTables.bootstrap.min.js')}}"></script>
    <script>
        $(function () {
            $('#equipment').DataTable();
            $("#rentalAd_datePublished").datepicker({
                defaultDate: "+1w",
                changeMonth: false,
                numberOfMonths: 1,
                dateFormat: "yy-mm-dd",
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>'
            });
        });
    </script>
{% endblock javascripts %}