<section class="sec-less-padding">         
    <div class="clearfix"></div>
    <div class="col-md-12">
        <ul class="timeline-2 tl-green">
            <li>
                <div class="tldate">Aug 26, <br/>
                    2016</div>
            </li>
            <li>
                <div class="tl-circ"></div>
                <div class="timeline-panel">
                    <div class="post-content">
                        <div class="post-img"><img src="{{asset('images/shortcodes/42.jpg')}}" alt="" class="img-responsive"/></div>
                        <div class="post-info">
                            <h3 class="title less-mar-2"><a href="#">Aliquam Rhoncus Maecenas</a></h3>
                            <div class="blog-post-info"><span><i class="fa fa-comments-o"></i> 15 Comments</span> <span><i class="fa fa-folder"></i> Business/agro</span><span><i class="fa fa-thumbs-up"></i> 256 Likes</span> </div>
                            <br/>
                            <p></p>
                            <br/>
                            <a class="btn btn-border light border-1x btn-small uppercase" href="#">Read more</a> </div>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="tl-circ"></div>
                <div class="timeline-panel">
                    <div class="post-content">
                        <div class="post-img"><img src="{{asset('images/shortcodes/42.jpg')}}" alt="" class="img-responsive"/></div>
                        <div class="post-info">
                            <h3 class="title less-mar-2"><a href="#">Aliquam Rhoncus Maecenas</a></h3>
                            <div class="blog-post-info"><span><i class="fa fa-comments-o"></i> 15 Comments</span> <span><i class="fa fa-folder"></i> Business/agro</span><span><i class="fa fa-thumbs-up"></i> 256 Likes</span> </div>
                            <br/>
                            <p></p>
                            <br/>
                            <a class="btn btn-border light border-1x btn-small uppercase" href="#">Read more</a> </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="tldate">Aug 26, <br/>
                    2016</div>
            </li>
            <li class="timeline-inverted">
                <div class="tl-circ"></div>
                <div class="timeline-panel">
                    <div class="post-content">
                        <div class="post-img"><img src="{{asset('images/shortcodes/41.jpg')}}" alt="" class="img-responsive"/></div>
                        <div class="post-info">
                            <h3 class="title less-mar-2"><a href="#">Aliquam Rhoncus Maecenas</a></h3>
                            <div class="blog-post-info"><span><i class="fa fa-comments-o"></i> 15 Comments</span> <span><i class="fa fa-folder"></i> Business/agro</span><span><i class="fa fa-thumbs-up"></i> 256 Likes</span> </div>
                            <br/>
                           <p></p>
                           <br/>
                            <a class="btn btn-border light border-1x btn-small uppercase" href="#">Read more</a> </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="tldate">Aug 26, <br/>
                    2016</div>
            </li>
            <li>
                <div class="tl-circ"></div>
                <div class="timeline-panel">
                    <div class="post-content">
                        <div class="post-img"><img src="{{asset('images/shortcodes/38.jpg')}}" alt="" class="img-responsive"/></div>
                        <div class="post-info">
                            <h3 class="title less-mar-2"><a href="#">Aliquam Rhoncus Maecenas</a></h3>
                            <div class="blog-post-info"><span><i class="fa fa-comments-o"></i> 15 Comments</span> <span><i class="fa fa-folder"></i> Business/agro</span><span><i class="fa fa-thumbs-up"></i> 256 Likes</span> </div>
                            <br/>
                           <p></p>
                           <br/>
                            <a class="btn btn-border light border-1x btn-small uppercase" href="#">Read more</a> </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="tldate">Aug 26, <br/>
                    2016</div>
            </li>
            <li class="timeline-inverted">
                <div class="tl-circ"></div>
                <div class="timeline-panel">
                    <div class="post-content">
                        <div class="post-img"><img src="{{asset('images/shortcodes/39.jpg')}}" alt="" class="img-responsive"/></div>
                        <div class="post-info">
                            <h3 class="title less-mar-2"><a href="#">Aliquam Rhoncus Maecenas</a></h3>
                            <div class="blog-post-info"><span><i class="fa fa-comments-o"></i> 15 Comments</span> <span><i class="fa fa-folder"></i> Business/agro</span><span><i class="fa fa-thumbs-up"></i> 256 Likes</span> </div>
                            <br/>
                            <p></p>
                            <br/>
                            <a class="btn btn-border light border-1x btn-small uppercase" href="#">Read more</a> </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!--end item--> 
</section>
<div class="clearfix"></div>
