{% extends "shared/page.base.html.twig" %}
{% block stylesheets %}
    {{ parent()}}
    <link href="{{asset('js/smart-forms/smart-forms.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{asset('js/popup/novicell.css')}}">
    <link rel="stylesheet" href="{{asset('js/popup/popup.css')}}">
{% endblock %}
{% block  content %}
    <section class="sec-padding">
        <div class="container">
            <div class="row">                
                <div class="col-md-12 text-left">
                    <ol class="breadcrumbs-2">
                        <li><a href="{{path('home')}}"><i class="fa fa-home" aria-hidden="true"></i> Home</a><span><i class="fa fa-angle-right" aria-hidden="true"></i></span></li>
                        <li class="current"><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Students </a></li>
                        <li class="pull-right"><a target="_new" class="btn btn-tiny border border-green xround-1" href="{{path('store_index')}}"><span class="fa fa-shopping-cart"> Visit BuilderHub Store</span></a></li>
                    </ol>
                </div>
            </div>
            <div class="col-divider-margin-1"></div>
            <div class=" divider-line solid light"></div>  
            <div class="col-divider-margin-1"></div>  
            <div class="row">
                <div class="col-md-3 col-sm-9 col-xs-12">
                </div>               
                <div class="col-md-9 col-sm-3 col-xs-12 slide-controls-primary">
                    <div class="col-divider-margin-1"></div>
                    <div class=" divider-line solid light"></div>  
                    <div class="col-divider-margin-1"></div>  
                    <h3>Students Portal Comming Soon</h3>
                    <div class="clearfix"></div>
                </div>
                <!--end item-->
            </div>
        </div>
    </section>

{% endblock %}
{% block pageScripts %}
    {{parent()}}     
{% endblock %}
