<li>
    <a href="{{path('account_settings', {'tab':'personal-details', 'sub':'service-offerings'})}}">
        <div class="icon" style="color: {{sub=='service-offerings'?'#1fcf6d':''}}"><i class="fa fa-wrench"></i> Service Offerings</div>                                
    </a>
</li> 
<br/>
<li>
    <a href="{{path('account_settings', {'tab':'personal-details', 'sub':'education'})}}">
        <div class="icon" style="color: {{sub=='education'?'#1fcf6d':''}}"><i class="fa fa-graduation-cap"></i> Education/Certificates</div>                                
    </a>
</li> 
<br/>
<li>
    <a href="{{path('account_settings', {'tab':'personal-details', 'sub':'experience'})}}">
        <div class="icon" style="color: {{sub=='experience'?'#1fcf6d':''}}"><i class="fa fa-briefcase"></i> Work Experience</div>                                
    </a>
</li>  
<br/>
<li>
    <a href="{{path('account_settings', {'tab':'personal-details', 'sub':'association'})}}">
        <div class="icon" style="color: {{sub=='association'?'#1fcf6d':''}}"><i class="fa fa-users"></i> Associations</div>                                
    </a>
</li>  
<br/>
<li>
    <a href="{{path('account_settings', {'tab':'personal-details', 'sub':'awards'})}}">
        <div class="icon" style="color: {{sub=='awards'?'#1fcf6d':''}}"><i class="fa fa-trophy"></i> Awards</div>                                
    </a>
</li>   
<br/>
