<a href="Add Experience " class="text-info pull-right" id="showFormLink">{% if experienceEntries|length > 0 %}Add Experience <i class='fa fa-angle-right'></i>{% else %} Hide Form <i class='fa fa-angle-down'></i>{% endif %}</a>
<div class="col-divider-margin-1"></div>
<div class=" divider-line solid light"></div>  
<div class="col-divider-margin-1"></div>  
<div class="col-md-12" style="padding: 10px; border: dotted gray 1px; background-color: whitesmoke; display: {{experienceEntries|length > 0 ? "none":"block"}}" id="formPanel">
    <h5 class="text-success">Hi <strong>{{user.firstname}}</strong>, share your work experience with your profile viewers</h5>
    {{ form_start(form, {'method': 'post', action:path('save_personal_data', {'tab':'personal-details', 'sub':'experience', 'entityId':entityId }), 'attr': {'class': 'educationContent', 'id':'educationForm'} }) }}
    <div class="smartforms-modal-body">
        <div class="smart-wrap">
            <div class="smart-forms smart-container transparent wrap-full">
                <div class="form-body no-padd">
                    <div class="section col-md-12">
                        <label  class="control-label">Job Title</label>
                        <label class="field prepend-icon">
                            {{ form_widget(form.jobTitle,{ 'attr': {class: 'gui-input', placeholder: 'e.g. Site engineer' } }) }}
                            <span class="field-icon"><i class="fa fa-lock"></i></span>
                        </label>
                    </div>
                    <div class="section col-md-12">
                        <label  class="control-label">Place of Work</label>
                        <label class="field prepend-icon">
                            {{ form_widget(form.placeOfWork,{ 'attr': {class: 'gui-input',placeholder: 'e.g. Baseline Engineering Consult Ltd, Accra' } }) }}
                            <span class="field-icon"><i class="fa fa-pencil"></i></span>
                        </label>
                        <!--<div id="institutionResults" style="border: white solid 1px; background-color: white; color: black; border-radius: 4px; z-index:1; position: absolute; max-height: 250px; overflow: auto; width: 100%" class="row"></div> -->   
                    </div>
                    <div class="section col-md-6">
                        <label  class="control-label">From</label>
                        <label class="field prepend-icon">
                            {{ form_widget(form.startDate,{ 'attr': {class: 'gui-input' } }) }}
                            <span class="field-icon"><i class="fa fa-calendar-o"></i></span> 
                            <!--<div id="programmeResults" style="border: white solid 1px; background-color: white; color: black; border-radius: 4px; z-index:1; position: absolute; max-height: 250px; overflow: auto; width: 100%" class="row"></div> -->     
                        </label>
                    </div>
                    <div class="section col-md-6">
                        <label  class="control-label">To</label>
                        <label class="field prepend-icon">
                            {{ form_widget(form.endDate,{ 'attr': {class: 'gui-input' } }) }}
                            <span class="field-icon"><i class="fa fa-calendar-o"></i></span> 
                        </label>
                        <!--<div id="degreeResults" style="border: white solid 1px; background-color: white; color: black; border-radius: 4px; z-index:1; position: absolute; max-height: 250px; overflow: auto; width: 100%" class="row"></div> -->      
                    </div>
                    <div class="section col-md-12">
                        {{ form_widget(form.isPresent) }}
                        <label  class="control-label">Is this your present job?</label>
                    </div>
                    <div class="section col-md-12">
                        <label  class="control-label">Job description</label>
                        <label class="field prepend-icon">
                            {{ form_widget(form.jobDescription,{ 'attr': {class: 'gui-textarea', placeholder: 'Type job description here' } }) }}
                            <span class="field-icon"><i class="fa fa-pencil"></i></span>
                            <span class="input-hint"> <strong>Hint:</strong> Write briefly about your schedule in this position</span>   

                        </label>
                    </div>
                    {{ form_row(form._token) }}
                </div>
            </div>
        </div>
    </div>

    <div class="form-footer col-md-12">
        <button class="btn btn-sm btn-success pull-right" type="submit" >Save Experience</button>
    </div>
    {{ form_end(form, {'render_rest': false})}}
</div>

