<div class="owl-carousel nav-style2" data-nav="true" data-autoplay="true" data-dots="true" data-loop="true" data-margin="10" data-responsive='{"0":{"items":1},"480":{"items":2},"680":{"items":3},"768":{"items":1}}'>
    {% for deal in weeklyDeals %}
        <div class="product-item style1">
            <div class="product-inner">
                <div class="product-thumb">
                    <div class="thumb-inner">
                        <a href="{{path('rental_filter', {'slug':deal.rentalAd.slug})}}">
                            <img src="{{deal.rentalAd.featureImage is not null ? asset(deal.rentalAd.featureImage|imagine_filter('hub_thumbnail')) : 
                            deal.rentalAd.equipment.featureImage is not null  ? asset(deal.rentalAd.equipment.featureImage|imagine_filter('hub_thumbnail'))}}" style="margin: auto; border-radius: 3px;"/>
                        </a> 
                    </div>
                    <a href="{{path('rental_filter', {'slug':deal.rentalAd.slug})}}" class="quick-view">Quick View</a>
                </div>
                <div class="product-innfo">
                    <div class="product-name"><a href="{{path('rental_filter', {'slug':deal.rentalAd.slug})}}">{{deal.rentalAd|length > 24 ? deal.rentalAd|slice(0, 24) ~ '...' : deal.rentalAd}}</a></div>
                    <span class="price">
                      <ins>GH¢{{deal.rentalAd.rentalRate|number_format(2,'.', ',')}}</ins> <small><span class="text-danger">{{deal.rentalAd.billingCycle}}</span></small>
                    </span>                  
                    <div class="star-rating">
                         <i class="fa fa-map-marker"></i> <span class="review">{{deal.rentalAd.company.region}}</span>
                    </div>
                </div>
                <div class="product-count-down">
                    <div class="title-count-down">Hurry up!<span>Deal ends in:</span></div>
                    <div class="kt-countdown" data-y="{{deal.endDate|date('Y')}}" data-m="{{deal.endDate|date('m')}}" data-d="{{deal.endDate|date('d')}}" data-h="12" data-i="0" data-s="0"></div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

