<div id="rev_slider_8_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="flickr-gallery12" style="margin:0px auto;background-color:#000000;padding:0px;margin-top:0px;margin-bottom:0px;">
    <!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
    <div id="rev_slider_8_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
        <ul>	<!-- SLIDE  -->
            <li data-index="rs-28" data-transition="scaledownfromleft" data-slotamount="default"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="images/rs-images/photography9-100x50.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Umbrella" data-param1="September 7, 2015" data-param2="Alfon Much, The Precious Stones" data-description="">
                <!-- MAIN IMAGE -->
                <img src="{{asset('images/rs-images/dummy.png')}}"  alt=""  width="1920" height="1080" data-lazyload="{{asset('images/rs-images/photography9.jpg')}}" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <a class="tp-caption WebProduct-Menuitem" href="#" target="_blank"			 
                   id="slide-15248995938-layer-1" 
                   data-x="20" 
                   data-y="bottom" data-voffset="20" 
                   data-width="['auto']"
                   data-height="['auto']"
                   data-transform_idle="o:1;"
                   data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Linear.easeNone;"
                   data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);cursor:pointer;"

                   data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" 
                   data-transform_out="x:[-100%];s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                   data-mask_in="x:0px;y:0px;" 
                   data-mask_out="x:inherit;y:inherit;" 
                   data-start="0" 
                   data-splitin="none" 
                   data-splitout="none" 
                   data-actions=''
                   data-basealign="slide" 
                   data-responsive_offset="on" 
                   data-responsive="off"

                   style="z-index: 5; white-space: nowrap; font-size: 20px; line-height: 30px;background-color:rgba(0, 0, 0, 0.50);border-radius:10px 10px 10px 10px;"><i class="fa-icon-photo"></i> 
                </a>
            </li>
            <!-- SLIDE  -->
            <li data-index="rs-303" data-transition="scaledownfromleft" data-slotamount="default"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="images/rs-images/photography6-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="The Dreaming Girl" data-param1="September 6, 2015" data-param2="Lol" data-description="">
                <!-- MAIN IMAGE -->
                <img src="{{asset('images/rs-images/dummy.png')}}"  alt=""  width="1920" height="1280" data-lazyload="{{asset('images/rs-images/photography6.jpg')}}" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <a class="tp-caption WebProduct-Menuitem" href="#" target="_blank"			 
                   id="slide-15248995938-layer-1" 
                   data-x="20" 
                   data-y="bottom" data-voffset="20" 
                   data-width="['auto']"
                   data-height="['auto']"
                   data-transform_idle="o:1;"
                   data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Linear.easeNone;"
                   data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);cursor:pointer;"

                   data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" 
                   data-transform_out="x:[-100%];s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                   data-mask_in="x:0px;y:0px;" 
                   data-mask_out="x:inherit;y:inherit;" 
                   data-start="0" 
                   data-splitin="none" 
                   data-splitout="none" 
                   data-actions=''
                   data-basealign="slide" 
                   data-responsive_offset="on" 
                   data-responsive="off"

                   style="z-index: 5; white-space: nowrap; font-size: 20px; line-height: 30px;background-color:rgba(0, 0, 0, 0.50);border-radius:10px 10px 10px 10px;"><i class="fa-icon-photo"></i> 
                </a>
            </li>
            <!-- SLIDE  -->
            <li data-index="rs-302" data-transition="scaledownfromleft" data-slotamount="default"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="images/rs-images/photography7-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Ride my Bike" data-param1="September 4, 2015" data-param2="Why not another Image?" data-description="">
                <!-- MAIN IMAGE -->
                <img src="{{asset('images/rs-images/dummy.png')}}"  alt=""  width="1920" height="1280" data-lazyload="{{asset('images/rs-images/photography7.jpg')}}" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <a class="tp-caption WebProduct-Menuitem" href="#" target="_blank"			 
                   id="slide-15248995938-layer-1" 
                   data-x="20" 
                   data-y="bottom" data-voffset="20" 
                   data-width="['auto']"
                   data-height="['auto']"
                   data-transform_idle="o:1;"
                   data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Linear.easeNone;"
                   data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);cursor:pointer;"

                   data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" 
                   data-transform_out="x:[-100%];s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                   data-mask_in="x:0px;y:0px;" 
                   data-mask_out="x:inherit;y:inherit;" 
                   data-start="0" 
                   data-splitin="none" 
                   data-splitout="none" 
                   data-actions=''
                   data-basealign="slide" 
                   data-responsive_offset="on" 
                   data-responsive="off"

                   style="z-index: 5; white-space: nowrap; font-size: 20px; line-height: 30px;background-color:rgba(0, 0, 0, 0.50);border-radius:10px 10px 10px 10px;"><i class="fa-icon-photo"></i> 
                </a>
            </li>
            <!-- SLIDE  -->
            <li data-index="rs-301" data-transition="scaledownfromleft" data-slotamount="default"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="images/rs-images/photography_contact-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Desktop" data-param1="August 15, 2015" data-param2="Sunshine forever" data-description="">
                <!-- MAIN IMAGE -->
                <img src="{{asset('/images/dummy.png')}}"  alt=""  width="1920" height="1280" data-lazyload="{{asset('images/rs-images/photography_contact.jpg')}}" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <a class="tp-caption WebProduct-Menuitem" href="#" target="_blank"			 
                   id="slide-15248995938-layer-1" 
                   data-x="20" 
                   data-y="bottom" data-voffset="20" 
                   data-width="['auto']"
                   data-height="['auto']"
                   data-transform_idle="o:1;"
                   data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Linear.easeNone;"
                   data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);cursor:pointer;"

                   data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" 
                   data-transform_out="x:[-100%];s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                   data-mask_in="x:0px;y:0px;" 
                   data-mask_out="x:inherit;y:inherit;" 
                   data-start="0" 
                   data-splitin="none" 
                   data-splitout="none" 
                   data-actions=''
                   data-basealign="slide" 
                   data-responsive_offset="on" 
                   data-responsive="off"

                   style="z-index: 5; white-space: nowrap; font-size: 20px; line-height: 30px;background-color:rgba(0, 0, 0, 0.50);border-radius:10px 10px 10px 10px;"><i class="fa-icon-photo"></i> 
                </a>
            </li>
            <!-- SLIDE  -->
            <li data-index="rs-300" data-transition="scaledownfromleft" data-slotamount="default"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="images/rs-images/photography_thumb3-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Little Dog" data-param1="July 27, 2015" data-param2="Nobody knows the real Date !" data-description="">
                <!-- MAIN IMAGE -->
                <img src="{{asset('images/rs-images/dummy.png')}}"  alt=""  width="300" height="200" data-lazyload="{{asset('images/rs-images/photography5.jpg')}}" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <a class="tp-caption WebProduct-Menuitem" href="#" target="_blank"			 
                   id="slide-15248995938-layer-1" 
                   data-x="20" 
                   data-y="bottom" data-voffset="20" 
                   data-width="['auto']"
                   data-height="['auto']"
                   data-transform_idle="o:1;"
                   data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Linear.easeNone;"
                   data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);cursor:pointer;"

                   data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" 
                   data-transform_out="x:[-100%];s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                   data-mask_in="x:0px;y:0px;" 
                   data-mask_out="x:inherit;y:inherit;" 
                   data-start="0" 
                   data-splitin="none" 
                   data-splitout="none" 
                   data-actions=''
                   data-basealign="slide" 
                   data-responsive_offset="on" 
                   data-responsive="off"

                   style="z-index: 5; white-space: nowrap; font-size: 20px; line-height: 30px;background-color:rgba(0, 0, 0, 0.50);border-radius:10px 10px 10px 10px;"><i class="fa-icon-photo"></i> 
                </a>
            </li>
            <!-- SLIDE  -->
            <li data-index="rs-299" data-transition="scaledownfromleft" data-slotamount="default"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="images/rs-images/newspaper_bg3-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Sky" data-param1="June 11, 2015" data-param2="Over the Rainbow" data-description="">
                <!-- MAIN IMAGE -->
                <img src="{{asset('images/rs-images/dummy.png')}}"  alt=""  width="1920" height="1440" data-lazyload="{{asset('images/rs-images/newspaper_bg3.jpg')}}" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <a class="tp-caption WebProduct-Menuitem" href="#" target="_blank"			 
                   id="slide-15248995938-layer-1" 
                   data-x="20" 
                   data-y="bottom" data-voffset="20" 
                   data-width="['auto']"
                   data-height="['auto']"
                   data-transform_idle="o:1;"
                   data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Linear.easeNone;"
                   data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);cursor:pointer;"

                   data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" 
                   data-transform_out="x:[-100%];s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                   data-mask_in="x:0px;y:0px;" 
                   data-mask_out="x:inherit;y:inherit;" 
                   data-start="0" 
                   data-splitin="none" 
                   data-splitout="none" 
                   data-actions=''
                   data-basealign="slide" 
                   data-responsive_offset="on" 
                   data-responsive="off"

                   style="z-index: 5; white-space: nowrap; font-size: 20px; line-height: 30px;background-color:rgba(0, 0, 0, 0.50);border-radius:10px 10px 10px 10px;"><i class="fa-icon-photo"></i> 
                </a>
            </li>
            <!-- SLIDE  -->
            <li data-index="rs-304" data-transition="scaledownfromleft" data-slotamount="default"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="images/rs-images/photography4-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Call the Police" data-param1="June 04, 2015" data-param2="Lorem ipsum Dolor Motordie" data-description="">
                <!-- MAIN IMAGE -->
                <img src="{{asset('images/rs-images/dummy.png')}}"  alt=""  width="1920" height="1080" data-lazyload="{{asset('images/rs-images/photography4.jpg')}}" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <a class="tp-caption WebProduct-Menuitem" href="#" target="_blank"			 
                   id="slide-15248995938-layer-1" 
                   data-x="20" 
                   data-y="bottom" data-voffset="20" 
                   data-width="['auto']"
                   data-height="['auto']"
                   data-transform_idle="o:1;"
                   data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Linear.easeNone;"
                   data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);cursor:pointer;"

                   data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" 
                   data-transform_out="x:[-100%];s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                   data-mask_in="x:0px;y:0px;" 
                   data-mask_out="x:inherit;y:inherit;" 
                   data-start="0" 
                   data-splitin="none" 
                   data-splitout="none" 
                   data-actions=''
                   data-basealign="slide" 
                   data-responsive_offset="on" 
                   data-responsive="off"

                   style="z-index: 5; white-space: nowrap; font-size: 20px; line-height: 30px;background-color:rgba(0, 0, 0, 0.50);border-radius:10px 10px 10px 10px;"><i class="fa-icon-photo"></i> 
                </a>
            </li>
            <!-- SLIDE  -->
            <li data-index="rs-305" data-transition="scaledownfromleft" data-slotamount="default"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="images/rs-images/photography2-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Beauty" data-param1="June 01, 2015" data-param2="Lol Ottolo pioricolo" data-description="">
                <!-- MAIN IMAGE -->
                <img src="{{asset('images/rs-images/dummy.png')}}"  alt=""  width="1920" height="1080" data-lazyload="{{asset('images/rs-images/photography2.jpg')}}" data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <a class="tp-caption WebProduct-Menuitem" href="#" target="_blank"			 
                   id="slide-15248995938-layer-1" 
                   data-x="20" 
                   data-y="bottom" data-voffset="20" 
                   data-width="['auto']"
                   data-height="['auto']"
                   data-transform_idle="o:1;"
                   data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Linear.easeNone;"
                   data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);cursor:pointer;"

                   data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" 
                   data-transform_out="x:[-100%];s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                   data-mask_in="x:0px;y:0px;" 
                   data-mask_out="x:inherit;y:inherit;" 
                   data-start="0" 
                   data-splitin="none" 
                   data-splitout="none" 
                   data-actions=''
                   data-basealign="slide" 
                   data-responsive_offset="on" 
                   data-responsive="off"

                   style="z-index: 5; white-space: nowrap; font-size: 20px; line-height: 30px;background-color:rgba(0, 0, 0, 0.50);border-radius:10px 10px 10px 10px;"><i class="fa-icon-photo"></i> 
                </a>
            </li>
        </ul>
        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	
    </div>
</div><!-- END REVOLUTION SLIDER -->
