{% if category is not null %}
    <div class="block-sale-product style2 full-width block-background" >
        <div class="container">
            <div class="category-image">
                <a href="{{path('category_view',{'slug':category.slug})}}" title="{{category}}"><img src="{{asset(category.featureImage|imagine_filter('hub_thumbnail'))}}" alt="f1" style="margin: auto; border-radius: 3px;"></a>
            </div>
            <div class="title-of-section">{{category}}</div>
            <div class="owl-carousel nav-style2 border-background equal-container" data-nav="true" data-autoplay="false" data-dots="false" data-loop="true" data-margin="0" data-responsive='{"0":{"items":1},"480":{"items":2},"600":{"items":3},"1000":{"items":3}}'>
                {% for product in products %}
                    <div class="product-item style1">
                        <div class="product-inner equal-elem">
                            <div class="product-thumb">
                                <div class="thumb-inner">
                                    <a href="{{path('store_product_detail', {'slug':product.slug})}}"><img src="{{asset(product.featureImage|imagine_filter('hub_thumbnail'))}}" alt="f1" style="height: 140px; margin: auto; border-radius: 3px;"></a>
                                </div>
                                <!--<span class="onsale">-50%</span>-->
                                <a href="{{path('store_product_detail', {'slug':product.slug})}}" class="quick-view">View Details</a>
                            </div>
                            <div class="product-innfo">
                                <div class="product-name"><a href="{{path('store_product_detail', {'slug':product.slug})}}">{{product.name}}</a></div>
                                <span class="price">
                                    <ins>GH¢{{product.productData.salePrice!=null ? product.productData.salePrice|number_format(2, '.',',') : product.productData.regularPrice|number_format(2, '.',',')}}</ins>
                                    <del>GH¢{{product.productData.regularPrice|number_format(2, '.',',')}}</del>
                                </span>
                                <div class="star-rating">
                                    <i class="fa fa-map-marker"></i> <span class="review">{{product.supplier.businessLocation is not null ?  product.supplier.businessLocation ~','}} {{product.supplier.region}}</span>
                                </div>
                                <div class="star-rating">
                                    <i class="fa fa-industry"></i> <span class="review">{{product.supplier}}</span>
                                </div>
                                <div style="text-align:center">
                                    <a href="{{path('contact_supplier',{'slug':product.supplier.slug, 'product_slug':product.slug})}}" class="btn btn-warning btn-sm" target="_new"><i class="fa fa-envelope" ></i> Contact Supplier</a>
                                </div>
                                <div class="group-btn-hover style2">
                                    <a href="{{path('add_to_cart', {'slug':product.slug})}}" class="add-to-cart"><i class="fa" id="spinner"></i> <i class="fa fa-shopping-cart"></i> add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
