<div class="block-content">
    {{form_start(form, {'method':'POST', action:path('search_store'), 'attr':{class: "search-form"} } )}}
    <div class="categori-search  ">
        <select data-placeholder="All Categories" class="chosen-select categori-search-option" name="categoryId">
            <option value="0">All Categories</option>
            {% for cat in topLevelCategories %}
                <option value="{{cat.id}}">{{cat.name}}</option>
            {% endfor %}                
        </select>
    </div>
    <div class="form-search">
        <div class="box-group">
            {{ form_widget(form.searchTerm,{ 'attr': {class: 'form-control', placeholder: 'Search for construction suppliers & equipment, interior decor...'} }) }}
            <button class="btn btn-search" type="submit"><i class="fa fa-search"></i></button>
        </div>
    </div>
    {{ form_row(form._token) }} 
    {{ form_end(form, {'render_rest': false}) }}
</div>
