<div id="box-vertical-megamenus" class="box-vertical-megamenus style2">
    <div class="title" style="background-color: #01bf9d;  font-weight: bolder; text-align: center">            
        <a href="{{path('shop_by_location')}}" target="blank" style="color: white; font-size: 1.2em;"><span  class="fa fa-map-marker"> Shop by Location &raquo;</span></a>
    </div>
    <select data-placeholder="All Categories" id="topLevelCategory" style="height: 40px; border-color:  #006dcc; padding-left: 3px; font-weight: bolder; width: 100%" class="top_level_category_change">         
        <option value="0" >SELECT PRODUCT CATEGORY</option>
        {%  for cat in topLevelCategories %}
            <option value="{{cat.id}}" >{{cat.name}}</option>
        {% endfor %}
    </select>
    <div class="vertical-menu-content">
        <span class="btn-close hidden-md"><i class="fa fa-times" aria-hidden="true"></i></span>
        <ul class="vertical-menu-list">
            {% if category is defined and  category is not null %}
                {% set subCategories = category.subCategories|slice(0, 12) %}
                {% if (subCategories|length > 0 ) %}
                    {% for subCat in subCategories %}
                        {% if subCat.subCategories|length > 0  %}
                            <li class="menu-item-has-children arrow item-megamenu">
                                <a href="{{path('category_view',{'slug':subCat.slug})}}" class="dropdown-toggle">{{subCat.name}}</a>
                                <span class="toggle-submenu hidden-md"></span>
                                <div class="submenu parent-megamenu megamenu">
                                    <div class="row">
                                        <div class="submenu-banner submenu-banner-menu-1">                                            
                                            <div class="col-md-4">
                                                <div class="dropdown-menu-info"> 
                                                    <h6 class="dropdown-menu-title">Sub Categories ({{subCat.subCategories|length}})</h6>                                            
                                                    <div class="dropdown-menu-content">
                                                        <ul class="menu">
                                                            {% for subCatLevel2 in subCat.subCategories|slice(0, 7) %}
                                                                <li class="menu-item"><a href="{{path('category_view',{'slug':subCatLevel2.slug})}}">{{subCatLevel2.name}}</a></li>
                                                                {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>  
                                            <div class="col-md-4">
                                                <div class="dropdown-menu-info"> 
                                                    <h6 class="dropdown-menu-title" style="color: white">.</h6>                                      
                                                    <div class="dropdown-menu-content">
                                                        <ul class="menu">
                                                            {% for subCatLevel2 in subCat.subCategories|slice(8, 16) %}
                                                                <li class="menu-item"><a href="{{path('category_view',{'slug':subCatLevel2.slug})}}">{{subCatLevel2.name}}</a></li>
                                                                {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </li>                       
                        {% else %}
                            <li><a href="{{path('category_view',{'slug':subCat.slug})}}">{{subCat.name}}</a></li>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                    <li>
                        <div class="alert alert-danger"> No item categories listed under <strong>{{category}}</strong></div>
                    </li>
                {% endif %}
            {% else %}
                <li>
                    <div class="alert alert-info"> Select product category  to view sub items</div>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
