<div id="box-vertical-megamenus" class="box-vertical-megamenus nav-toggle-cat">
    <h4 class="title active">
        <span class="btn-open-mobile home-page">
            <span></span>
            <span></span>
            <span></span>
        </span>
        <span class="title-menu">Product Categories</span>   
    </h4>
    <div class="vertical-menu-content" >
        <span class="btn-close hidden-md"><i class="fa fa-times" aria-hidden="true"></i></span>
        <ul class="vertical-menu-list">
            {% for cat in supplier.productCategories %}
                {% if cat.subCategories|length > 0 %}
                    <li class="menu-item-has-children arrow item-megamenu">
                        <a href="{{path('supplier_store_view',{'slug':supplier.slug, 'page':'category', 'cat':cat.slug})}}" class="dropdown-toggle">{{cat}}</a>
                        <span class="toggle-submenu hidden-md"></span>
                        <div class="submenu parent-megamenu megamenu">
                            <div class="row">
                                <div class="submenu-banner submenu-banner-menu-1">                                       
                                    <div class="col-md-4">
                                        <div class="dropdown-menu-info">
                                            <h6 class="dropdown-menu-title">Sub Categories </h6>
                                            <div class="dropdown-menu-content">
                                                <ul class="menu">
                                                    {% for subCat in cat.subCategories.slice(0, 7) %}
                                                        <li class="menu-item"><a href="{{path('supplier_store_view',{'slug':supplier.slug, 'page':'category', 'cat':subCat.slug})}}">{{subCat}}</a></li>  
                                                        {% endfor %}                                                            
                                                </ul>
                                            </div>
                                        </div>
                                    </div>   
                                    <div class="col-md-4">
                                        <div class="dropdown-menu-info">
                                            <h6 class="dropdown-menu-title"></h6>
                                            <div class="dropdown-menu-content">
                                                <ul class="menu">
                                                    {% for subCat in cat.subCategories|slice(8, 15) %}
                                                        <li class="menu-item"><a href="{{path('supplier_store_view',{'slug':supplier.slug, 'page':'category', 'cat':subCat.slug})}}">{{subCat}}</a></li>  
                                                        {% endfor %}                                                            
                                                </ul>
                                            </div>
                                        </div>
                                    </div>   
                                </div>
                            </div>
                        </div>
                    </li>
                {% else %}
                    <li><a href="{{path('supplier_store_view',{'slug':supplier.slug, 'page':'category', 'cat':cat.slug})}}">{{cat}}</a></li>
                    {% endif %}
                {% endfor %}
        </ul>
    </div>
</div>

