<div class="row">
    <span class="label label-warning">
        Sponsored Builders                
    </span>
    <div id="owl-demo8" class="owl-carousel owl-theme">
        {% for builder in builders %}
            <div class="item" id="promotedBuilders" >                   
                <div class="call-to-action bg-warning">
                    <div class="text-box">                        
                        <a class="btn btn-border border-1x light" href="{{path('user_profile', {'usernameCanonical':builder.user.usernameCanonical})}}">
                            <img src="{{builder.user.person.profilePicture is not null ? asset(s3_images_url~builder.user.person.profilePicture) : asset('images/default-user.png')}}" alt="" class="img-responsive round" > 
                        </a> 
                    </div>   
                    <div class="text-box">
                        <h5><a href="#">{{builder.user.fullName}} <span class="text-small2 text-primary font-weight-6 lspace-sm">{{builder.profession is not null ? '('~builder.profession.practitioner~')'}}</span> <!--<span class="label label-success text-small2"><i class="fa fa-check"></i> verified</span>--></a></h5>
                        <p class="text-danger">
                            {% if builder.user.userProfile.town!=null %}
                                <i class="fa fa-map-marker margin-r-5"></i> 
                                <strong>
                                    {{builder.user.userProfile.subLocation is not null ? builder.user.userProfile.subLocation ~', '}} {{builder.user.userProfile.town}}{{builder.user.userProfile.region!=null ? ', '~builder.user.userProfile.region ~' Region' }}            
                                </strong>
                            {% endif %}   
                        </p>
                        <div>
                            <span class="label label-primary text-left"><a class="text-white" href="{{path('user_profile', {'usernameCanonical':builder.user.usernameCanonical})}}" target="_blank"><i class="fa fa-eye" style="color:white"></i> View Profile</a></span>
                            <span class="label label-warning text-right"><a class="text-white" target="_blank" href="{{path('user_profile',{'usernameCanonical' : builder.user.usernameCanonical, 'page':'request'})}}"><i class="fa fa-envelope" style="color:white"></i> Contact</a></span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="col-divider-margin-1"></div>
<div class=" divider-line solid light"></div>  
<div class="col-divider-margin-1"></div>  
