<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="UTF-8">
        <title>BuildersHub - Bringing together construction sector players to exchange expertise, goods and services</title>
    </head>
    <body class="body" style="width: 100%; background: rgb(255, 255, 255); padding: 0px !important; margin: 0px !important; display: block !important;">
        <table cellpadding="0" cellspacing="0" style="border: 0px; padding: 0px; margin: 0px; position: absolute; display: none; float: left">
            <tbody><tr>
                    <td height="1" style="font-size: 1px; line-height: 1px; padding: 0px;">
                        <img height="1" width="1" style="padding: 0px 0px;  margin: 0px 0px; font-size: 1px; line-height: 1px;" src="{{app.request.getSchemeAndHttpHost() ~asset('logo.jpg')}}">
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- <custom name="opencounter" type="tracking">-->
        <style media="screen" type="text/css">/* Linked Styles */
            body {
                padding:0 !important;
                margin:0 !important;
                display:block !important;
                width:100% !important;
                background:#ffffff;
                -webkit-text-size-adjust:none }
            a {
                color:#77c045;
                text-decoration:underline }
            p {
                padding:0 !important;
                margin:0 !important }
            .text-footer3 {
                color:#666666;
                text-decoration:none }
            /* Mobile styles */
            @media only screen and (max-device-width: 660px), only screen and (max-width: 660px) {
                table[class='w320'] {
                    width: 100% !important;
                }
                table[class='mobile-100p'] {
                    width: auto !important;
                }
                div[class='mobile-br-5'] {
                    height: 5px !important;
                }
                div[class='mobile-br-10'] {
                    height: 10px !important;
                }
                div[class='mobile-br-15'] {
                    height: 15px !important;
                }
                td[class='m-td'], div[class='hide-for-mobile'], span[class='hide-for-mobile'] {
                    display: none !important;
                    width: 0 !important;
                    height: 0 !important;
                    font-size: 0 !important;
                    line-height: 0 !important;
                    min-height: 0 !important;
                }
                span[class='mobile-block'] {
                    display: block !important;
                }
                div[class='logo'] img {
                    width: 90px !important;
                    height: auto !important;
                }
                td[class='img-header'] img {
                    height: 9px !important;
                    width: auto !important;
                }
                div[class='text-header'] {
                    text-align: center !important;
                }
                div[class='text-footer'] {
                    font-size: 8px !important;
                    line-height: 12px !important;
                }
                div[class='text-footer2'] {
                    font-size: 6px !important;
                    line-height: 10px !important;
                }
                div[class='text-footer3'] {
                    font-size: 6px !important;
                    line-height: 8px !important;
                }
                td[class='social'] {
                    width: 28px !important;
                }
                td[class='social'] img {
                    width: 24px !important;
                    height: 24px !important;
                }
                td[class='w5'] {
                    width: 5px !important;
                }
                td[class='w10'] {
                    width: 10px !important;
                }
                td[class='w15'] {
                    width: 15px !important;
                }
                td[class='w30'] {
                    width: 30px !important;
                }
                div[class='wgmail'] img {
                    min-width: 320px !important;
                    width: 320px !important;
                }
                div[class='full-width-img'] img {
                    width: 320px !important;
                    height: auto !important;
                }
                div[class='content-width-img'] img {
                    width: 250px !important;
                    height: auto !important;
                }
                div[class='content-width-img2'] img {
                    width: 414px !important;
                    height: auto !important;
                }
                td[class='column-310'] {
                    float: left !important;
                    width: 100% !important;
                    display: block !important;
                }
                td[class='column-292'] {
                    float: left !important;
                    width: 100% !important;
                    display: block !important;
                }
                td[class='column-280'] {
                    float: left !important;
                    width: 100% !important;
                    display: block !important;
                }
                td[class='column-270'] {
                    float: left !important;
                    width: 100% !important;
                    display: block !important;
                }
                td[class='column-250'] {
                    float: left !important;
                    width: 100% !important;
                    display: block !important;
                }
                td[class='content-spacing'] {
                    width: 15px !important;
                }
            }
            @media only screen and (max-device-width: 550px), only screen and (max-width: 550px) {
                div[class='img-center2'] img {
                    height: 41px !important;
                    width: auto !important;
                }
                td[class='text2-center'] {
                    font-size: 12px !important;
                    line-height: 16px !important;
                }
                div[class='content-width-img2'] img {
                    width: 385px !important;
                    height: auto !important;
                }
            }
            @media only screen and (max-device-width: 470px), only screen and (max-width: 470px) {
                div[class='img-center2'] img {
                    height: 26px !important;
                    width: auto !important;
                }
                div[class='content-width-img2'] img {
                    width: 329px !important;
                    height: auto !important;
                }
                td[class='text2-center'] {
                    font-size: 10px !important;
                    line-height: 14px !important;
                }
                td[class='arrow'],
                td[class='arrow'] img {
                    width: 4px;
                    height: auto !important;
                }
            }
            @media only screen and (max-device-width: 420px), only screen and (max-width: 420px) {
                div[class='img-center2'] img {
                    height: 21px !important;
                    width: auto !important;
                }
                div[class='content-width-img2'] img {
                    width: 350px !important;
                    height: auto !important;
                }
                td[class='text2-center'] {
                    font-size: 6px !important;
                    line-height: 10px !important;
                }
                td[class='arrow'],
                td[class='arrow'] img {
                    width: 4px;
                    height: auto !important;
                }
                td[class='text-header2'] {
                    font-size: 9px !important;
                    text-align: left !important;
                    white-space: nowrap;
                }
                div[class='text-header'] {
                    text-align: center !important;
                    font-size: 7px !important;
                }
            }
            @media only screen and (max-device-width: 320px), only screen and (max-width: 320px) {
                div[class='img-center2'] img {
                    height: 21px !important;
                    width: auto !important;
                }
                div[class='content-width-img2'] img {
                    width: 292px !important;
                    height: auto !important;
                }
                td[class='text2-center'] {
                    font-size: 6px !important;
                    line-height: 10px !important;
                }
                td[class='arrow'],
                td[class='arrow'] img {
                    width: 4px;
                    height: auto !important;
                }
                td[class='text-header2'] {
                    font-size: 9px !important;
                    text-align: left !important;
                    white-space: nowrap;
                }
                div[class='text-header'] {
                    text-align: center !important;
                    font-size: 7px !important;
                }
            }
            /*Stylesheed for the devices width between 0px to 480px*/
            @media only screen and (max-width:480px) {
                td[class=em_hide], table[class=em_hide], span[class=em_hide], br[class=em_hide]{
                    display:none !important;
                }
            }
            /*Stylesheed for the devices width between 481px to 599px*/
            @media only screen and (min-width:481px) and (max-width:599px) {
                td[class=em_hide], table[class=em_hide], span[class=em_hide], br[class=em_hide]{
                    display:none !important;
                }
            }
        </style>
        <style type="text/css">div.preheader 
            {
                display: none !important;
            }
        </style>


        <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
                <tr>
                    <td align="center" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" class="w320" width="650">
                            <tbody>
                                <tr>
                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="5"></td>
                                    <td><!-- Header -->
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td valign="top"><!-- Spacer -->
                                                        <div style="font-size:0pt; line-height:0pt; height:17px"><img alt="" height="17" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:17px" width="1">
                                                        </div>
                                                        <!-- END Spacer --><!-- Preheader -->

                                                        <div class="text-header" style="color:#979797; font-family:Arial; font-size:10px; mso-line-height-rule:exactly; line-height:14px; text-align:right">
                                                            <a class="link2-u" href="{{url('home')}}" style="color:#979797; text-decoration:underline" target="_blank"><span class="link2-u" style="color:#979797; text-decoration:underline">
                                                                    {% if user is defined and user.person is not null %}
                                                                        {{user.person.personType =="artisan" ? 'Find work in your area': user.person.personType =="professional" ? "Find consultancy jobs across the country" : user.person.personType =="student" ? "Get internship opportunities" : "Find technical people to help complete your project"}}</span></a> |
                                                                    {% else  %}
                                                                Find technical people to help complete your project
                                                            {% endif %}
                                                            <a class="link2-u" href="#" style="color:#979797; text-decoration:underline" ><span class="link2-u" style="color:#979797; text-decoration:underline">View email with images</span></a>
                                                        </div>
                                                        <!-- END Preheader --><!-- Spacer -->

                                                        <div style="font-size:0pt; line-height:0pt; height:17px"><img alt="" height="17" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:17px" width="1">
                                                        </div>
                                                        <!-- END Spacer -->

                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tbody>
                                                                <tr><!-- Logo -->
                                                                    <td class="column-310" valign="top" width="133">
                                                                        <div class="logo" style="font-size:0pt; line-height:0pt; text-align:center"><a href="{{url('home')}}" target="_blank">
                                                                                <img alt="Rover.com" border="0" height="50" src="{{app.request.getSchemeAndHttpHost() ~asset('logo.jpg')}}" width="135"></a>
                                                                        </div>
                                                                    </td>
                                                                    <!-- END Logo -->
                                                                    <td class="m-td" style="font-size:0pt; line-height:0pt; text-align:left"></td>
                                                                    <td align="center" class="column-310" valign="top" width="410"><!-- Spacer -->
                                                                        <div style="font-size:0pt; line-height:0pt; height:15px"><img alt="" height="15" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:15px" width="1">
                                                                        </div>
                                                                        <!-- END Spacer --><!-- Navigation -->

                                                                        <table border="0" cellpadding="0" cellspacing="0" class="mobile-100p">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="img-header" style="font-size:0pt; line-height:0pt; text-align:right" width="12"><img alt="" border="0" height="12" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/ico_search.png" width="12"></td>
                                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="3"></td>
                                                                                    <td class="text-header2" style="color:#666666; font-family:Arial; font-size:12px; mso-line-height-rule:exactly; line-height:16px; text-align:right; text-transform:uppercase; font-weight:bold; white-space:nowrap">
                                                                                        <a class="link3" href="{{url('find_builders')}}" style="color:#666666; text-decoration:none" target="_blank" title="Artisans, Engineers, Architects, Surveyprs etc">
                                                                                            <span class="link3" style="color:#666666; text-decoration:none">FIND BUILDERS</span>
                                                                                        </a>
                                                                                    </td>
                                                                                    <td class="w15" style="font-size:0pt; line-height:0pt; text-align:left" width="20"></td>
                                                                                    <td class="img-header" style="font-size:0pt; line-height:0pt; text-align:right" width="12">
                                                                                        <img alt="" border="0" height="12" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/ico_becomesitter.png" width="12"></td>
                                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="4"></td>
                                                                                    <td class="text-header2" style="color:#666666; font-family:Arial; font-size:12px; mso-line-height-rule:exactly; line-height:16px; text-align:right; text-transform:uppercase; font-weight:bold; white-space:nowrap">
                                                                                        <a class="link3" href="{{url('register_store')}}" style="color:#666666; text-decoration:none" target="_blank"><span class="link3" style="color:#666666; text-decoration:none">SELL ON BUILDERSHUB</span></a></td>
                                                                                    <td class="w15" style="font-size:0pt; line-height:0pt; text-align:left" width="20"></td>
                                                                                    <td class="img-header" style="font-size:0pt; line-height:0pt; text-align:right" width="14">
                                                                                        <img alt="" border="0" height="14" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/ico_give20.png" width="14"></td>
                                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="4"></td>
                                                                                    <td class="text-header2" style="color:#666666; font-family:Arial; font-size:12px; mso-line-height-rule:exactly; line-height:16px; text-align:right; text-transform:uppercase; font-weight:bold; white-space:nowrap">
                                                                                        <a class="link3" href="{{url('store_index')}}" style="color:#666666; text-decoration:none" target="_blank"><span class="link3" style="color:#666666; text-decoration:none">BUY BUILDING MATERIALS & SUPPLIES</span></a></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <!-- END Navigation --></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- Spacer -->

                                        <div style="font-size:0pt; line-height:0pt; height:13px"><img alt="" height="13" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:13px" width="1">
                                        </div>
                                        <!-- END Spacer -->

                                        <div class="hide-for-mobile"><!-- Spacer -->
                                            <div style="font-size:0pt; line-height:0pt; height:5px"><img alt="" height="5" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:5px" width="1">
                                            </div>
                                            <!-- END Spacer -->
                                        </div>
                                        <!-- END Header --><!-- Main -->

                                        <table bgcolor="#cacaca" border="0" cellpadding="1" cellspacing="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td data-content-region-name="is_canada"><table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="8"></td>
                                                                    <td class="m-td" style="font-size:0pt; line-height:0pt; text-align:left" width="11"></td>
                                                                    <td align="center"><!-- Spacer -->
                                                                        <div style="font-size:0pt; line-height:0pt; height:40px"><img alt="" height="40" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:40px" width="1">
                                                                        </div>
                                                                        <!-- END Spacer --><!-- Icon -->

                                                                        <div class="img-center" style="font-size:0pt; line-height:0pt; text-align:center"><a href="#" target="_blank"><img alt="" border="0" height="60" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/ico_thumbs_up.png" title="" width="50"></a>
                                                                        </div>
                                                                        <!-- END Icon -->

                                                                        <div style="font-size:0pt; line-height:0pt; height:15px"><img alt="" height="15" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:15px" width="1">
                                                                        </div>
                                                                        <!-- Headline -->

                                                                        <div class="h2-center" style="padding-right:40px; padding-left:40px; color:#6b6b6b; font-family:Arial; font-size:26px; mso-line-height-rule:exactly; line-height:32px; text-align:center">
                                                                            {% block headline %}
                                                                                Congratulations {{user is defined ? user.firstname }}! You have successfully created an account on 
                                                                                <a href="{{url('home')}}" target="_blank">BuildersHub</a>
                                                                            {% endblock %}
                                                                        </div>
                                                                        <!-- END Headline -->

                                                                        <div style="font-size:0pt; line-height:0pt; height:20px"><img alt="" height="20" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:20px" width="1">
                                                                        </div>
                                                                        <!-- Sub Head -->

                                                                        <div class="h3-center" style="color:#9b9b9b; font-family:Arial; font-size:20px; mso-line-height-rule:exactly; line-height:26px; text-align:center">

                                                                        </div>
                                                                        <!-- END Sub Head -->

                                                                        <div style="font-size:0pt; line-height:0pt; height:30px"><img alt="" height="30" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:30px" width="1">
                                                                        </div>
                                                                        <!-- Button -->

                                                                        <div class="img-center" style="font-size:18pt; line-height:0pt; text-align:center">
                                                                            {% if user is defined %}
                                                                                {% block callToAction  %}
                                                                                    <a href="{{url('activate_account',{'id':user.id, 'token':token})}}" target="_blank"> 
                                                                                        Click to Confirm Your Account
                                                                                    </a>
                                                                                {% endblock %}
                                                                            {% endif %}
                                                                        </div>
                                                                        <!-- END Button -->

                                                                        <div style="font-size:0pt; line-height:0pt; height:30px"><img alt="" height="30" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:30px" width="1">
                                                                        </div>
                                                                        <!-- Headline -->
                                                                        <div style="font-size:0pt; line-height:0pt; height:20px"><img alt="" height="20" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:20px" width="1">
                                                                        </div>
                                                                        <!-- END Spacer --><!-- Location -->




                                                                        <!-- END Amount --><!-- Spacer -->

                                                                        <div style="font-size:0pt; line-height:0pt; height:30px"><img alt="" height="30" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:30px" width="1">
                                                                        </div>
                                                                        <!-- END Spacer --><!-- Divider -->

                                                                        <div style="font-size:0pt; line-height:0pt; height:1px; background:#cacaca; "><img alt="" height="1" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:1px" width="1">
                                                                        </div>
                                                                        <!-- END Divider --><!-- Spacer -->

                                                                        <div style="font-size:0pt; line-height:0pt; height:15px"><img alt="" height="15" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:15px" width="1">
                                                                        </div>
                                                                        <!-- END Spacer --><!-- Three CTAs -->

                                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="em-hide" style="font-size:0pt; line-height:0pt; text-align:left" width="40"></td>
                                                                                    <td align="center" class="column-292" width="192">
                                                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td align="center" height="50">
                                                                                                        <table border="0" cellpadding="0" cellspacing="0">
                                                                                                            <tbody>

                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>

                                                                                        <div style="font-size:0pt; line-height:0pt; height:15px"><img alt="" height="15" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:15px" width="1">
                                                                                        </div>
                                                                                    </td>
                                                                                    <td class="m-td" style="font-size:0pt; line-height:0pt; text-align:left" width="12"></td>
                                                                                    <td class="column-292" width="192">
                                                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td align="center" height="50">
                                                                                                        <table border="0" cellpadding="0" cellspacing="0">
                                                                                                            <tbody>
                                                                                                                <tr><!-- Icon -->
                                                                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="7">
                                                                                                                        <div style="font-size:0pt; line-height:0pt; height:2px"><img alt="" height="2" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:2px" width="1">
                                                                                                                        </div>
                                                                                                                        <!-- END Icon --><img alt="" border="0" height="22" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/ico_message_small.png" width="22"> <!-- END Arrow --></td>
                                                                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="10"></td>
                                                                                                                    <!-- CTA -->
                                                                                                                    <td class="h5" style="padding-top:6px; color:#6b6b6b; font-family:Arial; font-size:15px; mso-line-height-rule:exactly; line-height:16px; text-align:left">
                                                                                                                        <a class="link4" href="#" style="color:#14A4BE; text-decoration:none" target="_blank">
                                                                                                                            <span class="link4" style="color:#14A4BE; text-decoration:none">Send us a Message</span>
                                                                                                                        </a>
                                                                                                                    </td>
                                                                                                                    <!-- END CTA -->
                                                                                                                </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                        <div style="font-size:0pt; line-height:0pt; height:15px"><img alt="" height="15" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:15px" width="1">
                                                                                        </div>
                                                                                    </td>
                                                                                    <td class="em-hide" style="font-size:0pt; line-height:0pt; text-align:right" width="40"></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <!-- END Three CTAS --><!-- Divider -->

                                                                        <div style="font-size:0pt; line-height:0pt; height:1px; background:#cacaca; "><img alt="" height="1" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:1px" width="1">
                                                                        </div>
                                                                        <!-- END Divider --><!-- Spacer -->

                                                                        <div style="font-size:0pt; line-height:0pt; height:30px"><img alt="" height="30" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:30px" width="1">
                                                                        </div>
                                                                        <!-- END Spacer --><!-- Headline -->

                                                                        <div class="h2-center" style="padding-right:40px; padding-left:40px; color:#6b6b6b; font-family:Arial; font-size:18px; mso-line-height-rule:exactly; line-height:26px; text-align:center">
                                                                            <a href='{{url('home')}}' target="_blank">BuildersHub</a> has a database of  <a href='{{url('store_index')}}' target="_blank">Building & Construction Materials Suppliers</a> <a href='{{url('store_index', {'type':'property'})}}' target="_blank">Real Estate Developers & Property Owners</a> 
                                                                            and allows construction sector professionals and the general public to get great deals for products and services they transact in.
                                                                            Don't be left out, increase your reach.
                                                                        </div>
                                                                        <!-- END Headline --><!-- Spacer -->

                                                                        <div style="font-size:0pt; line-height:0pt; height:30px"><img alt="" height="30" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:30px" width="1">
                                                                        </div>
                                                                        <!-- END Spacer --><!-- Divider -->

                                                                        <div style="font-size:0pt; line-height:0pt; height:1px; background:#cacaca; "><img alt="" height="1" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:1px" width="1">
                                                                        </div>
                                                                        <!-- END Divider --><!-- Spacer -->

                                                                        <div style="font-size:0pt; line-height:0pt; height:20px"><img alt="" height="20" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:20px" width="1">
                                                                        </div>
                                                                        <!-- END Spacer --><!-- Banner -->

                                                                        <div class="content-width-img2" style="font-size:0pt; line-height:0pt; text-align:center">
                                                                            <a href="{{url('signup')}}" target="_blank"><img alt="" border="0" height="150" src="{{app.request.getSchemeAndHttpHost() ~ asset('images/design/email-banner2.jpg')}}" title="Build Online Profile and Be Found" width="600"></a>
                                                                        </div>
                                                                        <!-- END Banner --><!-- Spacer -->

                                                                        <div style="font-size:0pt; line-height:0pt; height:20px"><img alt="" height="20" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:20px" width="1">
                                                                        </div>
                                                                        <!-- END Spacer --><!-- Divider -->

                                                                        <div style="font-size:0pt; line-height:0pt; height:1px; background:#cacaca; "><img alt="" height="1" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:1px" width="1">
                                                                        </div>
                                                                        <!-- END Divider --><!-- Spacer -->

                                                                        <div style="font-size:0pt; line-height:0pt; height:20px"><img alt="" height="20" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:20px" width="1">
                                                                        </div>
                                                                        <!-- END Spacer --><!-- Banner -->

                                                                        <div class="content-width-img2" style="font-size:0pt; line-height:0pt; text-align:center"><a href="{{url('store_index')}}" target="_blank">
                                                                                <img alt="" border="0" height="150" src="{{app.request.getSchemeAndHttpHost() ~ asset('images/design/email-banner1.JPG')}}" title="Get best deals from BuildersHub" width="600"></a>
                                                                        </div>
                                                                        <!-- END Banner --><!-- Spacer -->

                                                                        <div style="font-size:0pt; line-height:0pt; height:20px"><img alt="" height="20" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:20px" width="1">
                                                                        </div>
                                                                        <!-- END Spacer --><!-- Pre-Footer Icons -->

                                                                        <div style="font-size:0pt; line-height:0pt; height:1px; background:#cacaca; "><img alt="" height="1" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:1px" width="1">
                                                                        </div>

                                                                        <div style="font-size:0pt; line-height:0pt; height:10px"><img alt="" height="10" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:10px" width="1">
                                                                        </div>

                                                                        <div class="hide-for-mobile">
                                                                            <div style="font-size:0pt; line-height:0pt; height:10px"><img alt="" height="10" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:10px" width="1">
                                                                            </div>
                                                                        </div>

                                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                            <tbody>
                                                                                <tr><!-- Premium Insurance -->
                                                                                    <td align="center" width="155"><!-- Image -->
                                                                                        <div class="img-center2" style="font-size:0pt; line-height:0pt; text-align:center"><a href="#" target="_blank"><img alt="Premium Insurance" border="0" height="43" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/ico_premiuminsurance.png" width="32"></a>
                                                                                        </div>
                                                                                        <!-- END Image -->

                                                                                        <div class="hide-for-mobile">
                                                                                            <div style="font-size:0pt; line-height:0pt; height:8px"><img alt="" height="8" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:8px" width="1">
                                                                                            </div>
                                                                                        </div>

                                                                                        <div style="font-size:0pt; line-height:0pt; height:8px"><img alt="" height="8" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:8px" width="1">
                                                                                        </div>

                                                                                        <table border="0" cellpadding="0" cellspacing="0">
                                                                                            <tbody>
                                                                                                <tr><!-- CTA -->
                                                                                                    <td class="text2-center" style="color:#7e7e7e; font-family:Arial; font-size:13px; mso-line-height-rule:exactly; line-height:16px; text-align:center; white-space:nowrap">
                                                                                                        <a class="link5" href="#" style="color:#7e7e7e; text-decoration:none" target="_blank"><span class="link5" style="color:#7e7e7e; text-decoration:none">Best Portal for Builders</span></a></td>
                                                                                                    <!-- END CTA -->
                                                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="5"></td>
                                                                                                    <td class="arrow" style="font-size:0pt; line-height:0pt; text-align:left" width="7">
                                                                                                        <div style="font-size:0pt; line-height:0pt; height:2px"><img alt="" height="2" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:2px" width="1">
                                                                                                        </div>
                                                                                                        <!-- Arrow --><img alt="" border="0" height="9" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/ico_arrow.png" width="7"><!-- END Arrow --></td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                    <!-- END Premium Insurance --><!-- Help Center -->
                                                                                    <td align="center" width="128"><!-- Image -->
                                                                                        <div class="img-center2" style="font-size:0pt; line-height:0pt; text-align:center"><a href="#" target="_blank">
                                                                                                <img alt="Help Center" border="0" height="43" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/ico_helpcenter.png" width="43"></a>
                                                                                        </div>
                                                                                        <!-- END Image -->

                                                                                        <div class="hide-for-mobile">
                                                                                            <div style="font-size:0pt; line-height:0pt; height:8px"><img alt="" height="8" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:8px" width="1">
                                                                                            </div>
                                                                                        </div>

                                                                                        <div style="font-size:0pt; line-height:0pt; height:8px"><img alt="" height="8" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:8px" width="1">
                                                                                        </div>

                                                                                        <table border="0" cellpadding="0" cellspacing="0">
                                                                                            <tbody>
                                                                                                <tr><!-- CTA -->
                                                                                                    <td class="text2-center" style="color:#7e7e7e; font-family:Arial; font-size:13px; mso-line-height-rule:exactly; line-height:16px; text-align:center; white-space:nowrap"><a class="link5" href="https://e.rover.com/pub/cc?_ri_=X0Gzc2X%3DYQpglLjHJlTQGjdruOF6zde6BvfKC0lANakkOWsekJElNfLSN7IoWgFwAhtIO3yzeMVXtpKX%3DYSSSCT&amp;_ei_=Eq2tf9zs59idfPO1Sc_9BblWPaVS2dtdm2Wj0kVsmIDoH3JhdDOJPvPtg3VU92rDttEEC4VQhZXrIN8J_Gs3N-u0A0." style="color:#7e7e7e; text-decoration:none" target="_blank"><span class="link5" style="color:#7e7e7e; text-decoration:none">Help Center</span></a></td>
                                                                                                    <!-- END CTA -->
                                                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="5"></td>
                                                                                                    <td class="arrow" style="font-size:0pt; line-height:0pt; text-align:left" width="7">
                                                                                                        <div style="font-size:0pt; line-height:0pt; height:2px"><img alt="" height="2" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:2px" width="1">
                                                                                                        </div>
                                                                                                        <!-- Arrow --><img alt="" border="0" height="9" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/ico_arrow.png" width="7"><!-- END Arrow --></td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                    <!-- END Help Center --><!-- Q&A -->
                                                                                    <td align="center" width="157"><!-- Image -->
                                                                                        <div class="img-center2" style="font-size:0pt; line-height:0pt; text-align:center"><a href="#" target="_blank">
                                                                                                <img alt="Q&amp;A Community" border="0" height="43" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/ico_community.png" width="49"></a>
                                                                                        </div>
                                                                                        <!-- END Image -->

                                                                                        <div class="hide-for-mobile">
                                                                                            <div style="font-size:0pt; line-height:0pt; height:8px"><img alt="" height="8" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:8px" width="1">
                                                                                            </div>
                                                                                        </div>

                                                                                        <div style="font-size:0pt; line-height:0pt; height:8px"><img alt="" height="8" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:8px" width="1">
                                                                                        </div>

                                                                                        <table border="0" cellpadding="0" cellspacing="0">
                                                                                            <tbody>
                                                                                                <tr><!-- CTA -->
                                                                                                    <td class="text2-center" style="color:#7e7e7e; font-family:Arial; font-size:13px; mso-line-height-rule:exactly; line-height:16px; text-align:center; white-space:nowrap">
                                                                                                        <a class="link5" href="#" style="color:#7e7e7e; text-decoration:none" target="_blank"><span class="link5" style="color:#7e7e7e; text-decoration:none">Builders Blog</span></a></td>
                                                                                                    <!-- END CTA -->
                                                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="5"></td>
                                                                                                    <td class="arrow" style="font-size:0pt; line-height:0pt; text-align:left" width="7">
                                                                                                        <div style="font-size:0pt; line-height:0pt; height:2px"><img alt="" height="2" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:2px" width="1">
                                                                                                        </div>
                                                                                                        <!-- Arrow --><img alt="" border="0" height="9" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/ico_arrow.png" width="7"><!-- END Arrow --></td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                    <!-- END Q&A --><!-- Sit a Dog -->
                                                                                    <td align="center" width="162"><!-- Image -->
                                                                                        <div class="img-center2" style="font-size:0pt; line-height:0pt; text-align:center"><a href="#" target="_blank"><img alt="Sit a Dog, Save a Dog" border="0" height="43" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/ico_SADSAL.png" width="38"></a>
                                                                                        </div>
                                                                                        <!-- END Image -->

                                                                                        <div class="hide-for-mobile">
                                                                                            <div style="font-size:0pt; line-height:0pt; height:8px"><img alt="" height="8" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:8px" width="1">
                                                                                            </div>
                                                                                        </div>

                                                                                        <div style="font-size:0pt; line-height:0pt; height:8px"><img alt="" height="8" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:8px" width="1">
                                                                                        </div>

                                                                                        <table border="0" cellpadding="0" cellspacing="0">
                                                                                            <tbody>
                                                                                                <tr><!-- CTA -->
                                                                                                    <td class="text2-center" style="color:#7e7e7e; font-family:Arial; font-size:13px; mso-line-height-rule:exactly; line-height:16px; text-align:center; white-space:nowrap"><a class="link5" href="#" style="color:#7e7e7e; text-decoration:none" target="_blank"><span class="link5" style="color:#7e7e7e; text-decoration:none">
                                                                                                                Get the experts, build right!
                                                                                                            </span>
                                                                                                        </a>
                                                                                                    </td>
                                                                                                    <!-- END CTA -->
                                                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="5"></td>
                                                                                                    <td class="arrow" style="font-size:0pt; line-height:0pt; text-align:left" width="7">
                                                                                                        <div style="font-size:0pt; line-height:0pt; height:2px"><img alt="" height="2" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:2px" width="1">
                                                                                                        </div>
                                                                                                        <!-- Arrow --><img alt="" border="0" height="9" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/ico_arrow.png" width="7"> <!-- END Arrow --></td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                        <!-- END Sit a Dog --></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>

                                                                        <div class="hide-for-mobile">
                                                                            <div style="font-size:0pt; line-height:0pt; height:9px"><img alt="" height="9" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:9px" width="1">
                                                                            </div>
                                                                        </div>

                                                                        <div style="font-size:0pt; line-height:0pt; height:9px"><img alt="" height="9" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:9px" width="1">
                                                                        </div>
                                                                        <!-- END Pre-Footer Icons -->
                                                                    </td>
                                                                    <td class="m-td" style="font-size:0pt; line-height:0pt; text-align:left" width="11"></td>
                                                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="8"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- Spacer -->

                                        <div style="font-size:0pt; line-height:0pt; height:12px"><img alt="" height="12" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:12px" width="1">
                                        </div>
                                        <!-- END Spacer --><!-- Spacer -->

                                        <div class="hide-for-mobile">
                                            <div style="font-size:0pt; line-height:0pt; height:10px"><img alt="" height="10" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:10px" width="1">
                                            </div>
                                            <!-- END Spacer -->
                                        </div>
                                        <!-- END Main --><!-- Footer -->

                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td class="w15" style="font-size:0pt; line-height:0pt; text-align:left" width="70"></td>
                                                    <td align="center"><!-- Social Title -->
                                                        <div class="text-footer" style="color:#666666; font-family:Arial; font-size:15px; mso-line-height-rule:exactly; line-height:19px; text-align:center; text-transform:uppercase">FOLLOW THE BUILDERS ON SOCIAL MEDIA
                                                        </div>
                                                        <!-- END Social Title -->

                                                        <div class="hide-for-mobile"><!-- Spacer -->
                                                            <div style="font-size:0pt; line-height:0pt; height:10px"><img alt="" height="10" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:10px" width="1">
                                                            </div>
                                                            <!-- END Spacer -->
                                                        </div>
                                                        <!-- Spacer -->

                                                        <div style="font-size:0pt; line-height:0pt; height:5px"><img alt="" height="5" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:5px" width="1">
                                                        </div>
                                                        <!-- END Spacer --><!-- Social Icons -->

                                                        <table border="0" cellpadding="0" cellspacing="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="social" style="font-size:0pt; line-height:0pt; text-align:left" width="50"><a href="#" target="_blank"><img alt="Like us on Facebook" border="0" height="40" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/ico_footer_fbook.png" width="40"></a></td>
                                                                    <td class="social" style="font-size:0pt; line-height:0pt; text-align:left" width="50"><a href="#" target="_blank"><img alt="Follow us on Instagram" border="0" height="40" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/ico_footer_instagram.png" width="40"></a></td>
                                                                    <td class="social" style="font-size:0pt; line-height:0pt; text-align:left" width="50"><a href="#" target="_blank"><img alt="Follow us on Twitter" border="0" height="40" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/ico_footer_twitter.png" width="40"></a></td>
                                                                    <td class="social" style="font-size:0pt; line-height:0pt; text-align:left" width="50"><a href="#" target="_blank"><img alt="Follow us on Pinterest" border="0" height="40" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/ico_footer_pinterest.png" width="40"></a></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <!-- END Social Icons -->

                                                        <div class="hide-for-mobile">
                                                            <div style="font-size:0pt; line-height:0pt; height:10px"><img alt="" height="10" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:10px" width="1">
                                                            </div>
                                                        </div>

                                                        <div style="font-size:0pt; line-height:0pt; height:7px"><img alt="" height="7" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:7px" width="1">
                                                        </div>

                                                        <div class="text-footer2" style="color:#666666; font-family:Arial; font-size:13px; mso-line-height-rule:exactly; line-height:18px; text-align:center">
                                                            Home of building professionals, artisans, property owners,<br>
                                                            materials & equipment suppliers and students
                                                        </div>

                                                        <div style="font-size:0pt; line-height:0pt; height:16px"><img alt="" height="16" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:16px" width="1">
                                                        </div>

                                                        <div class="hide-for-mobile">
                                                            <div style="font-size:0pt; line-height:0pt; height:17px"><img alt="" height="17" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:17px" width="1">
                                                            </div>
                                                        </div>

                                                        <div class="text-footer3" style="color:#979797; font-family:Arial; font-size:10px; mso-line-height-rule:exactly; line-height:17px; text-align:center">Please add <span class="link2-u" style="color:#979797; text-decoration:underline">info@buildershub.net</span> to your address book to make sure our emails are delivered to your inbox.

                                                            <div style="font-size:0pt; line-height:0pt; height:8px"><img alt="" height="8" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:8px" width="1">
                                                            </div>

                                                            <div class="hide-for-mobile">
                                                                <div style="font-size:0pt; line-height:0pt; height:16px"><img alt="" height="16" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:16px" width="1">
                                                                </div>
                                                            </div>
                                                            <a class="link2" href="{{url('home')}}" style="color:#979797; text-decoration:none" target="_blank"><span class="link2" style="color:#979797; text-decoration:none">BuildersHub.net</span></a>  | P.O. Box A1 124, Spintex Road, <br>
                                                            Accra, Ghana
                                                        </div>

                                                        <div class="hide-for-mobile">
                                                            <div style="font-size:0pt; line-height:0pt; height:5px"><img alt="" height="5" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:5px" width="1">
                                                            </div>
                                                        </div>

                                                        <table border="0" cellpadding="0" cellspacing="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <div class="text-footer3" style="color:#979797; font-family:Arial; font-size:10px; mso-line-height-rule:exactly; line-height:17px; text-align:center"><a class="link2-u" href="#" style="color:#979797; text-decoration:underline" target="_blank"><span class="link2-u" style="color:#979797; text-decoration:underline">Privacy Policy</span></a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                        <div style="font-size:0pt; line-height:0pt; height:15px"><img alt="" height="15" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="height:15px" width="1">
                                                        </div>
                                                    </td>
                                                    <td class="w15" style="font-size:0pt; line-height:0pt; text-align:left" width="70"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- END Footer --></td>
                                    <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="5"></td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="wgmail" style="font-size:0pt; line-height:0pt; text-align:left"><img alt="" border="0" height="1" src="https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/transactional/owner/img/empty.gif" style="min-width:660px" width="660">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--</custom>-->
    </body>
</html>

