{% extends "shared/buildershub.base.html.twig" %}
{% block stylesheets %}
    {{parent() }}
    <link rel="stylesheet" type="text/css" href="{{asset('js/revolution-slider/css/settings.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('js/revolution-slider/css/layers.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('js/revolution-slider/css/navigation.css')}}">
{% endblock %}
{% block  content %}
    <!-- START REVOLUTION SLIDER 5.0 -->
    <div class="slide-tmargin">
        <div class="slidermaxwidth">
            <div class="rev_slider_wrapper"> 
                <!-- START REVOLUTION SLIDER 5.0 auto mode -->
                <div id="rev_slider" class="rev_slider"  data-version="5.0">
                    <ul>
                        <!-- SLIDE  -->
                        <li data-index="rs-1" data-transition="fade" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="" data-description=""> 
                            <!-- MAIN IMAGE --> 
                            <img src="images/sliders/artisans-at-work.png" alt=""  data-bgposition="center center" data-kenburns="off" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500" data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina> 
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption Gym-Display fweight-6 text-primary lspace-7 tp-resizeme" 
                                 id="slide-1-layer-1" 
                                 data-x="['left','left','left','left']" data-hoffset="['45','10','10','10']" 
                                 data-y="['top','top','top','top']" data-voffset="['320','245','145','75']" 
                                 data-fontsize="['20','18','16','16']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-type="text" 
                                 data-responsive_offset="on" 
                                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":750,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 7; white-space: nowrap;">Artisans and Craftmen
                            </div>
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption Gym-Display fweight-8 white uppercase tp-resizeme" 
                                 id="slide-1-layer-2" 
                                 data-x="['left','left','left','left']" data-hoffset="['40','10','10','10']" 
                                 data-y="['top','top','top','top']" data-voffset="['380','318','190','110']" 
                                 data-fontsize="['55','50','40','27']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"

                                 data-type="text" 
                                 data-responsive_offset="on" 

                                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"

                                 style="z-index: 7; white-space: nowrap;">Are you an <span class="text-primary"> Artisan </span>
                            </div>
                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption Gym-Display fweight-8 white uppercase tp-resizeme" 
                                 id="slide-1-layer-3" 
                                 data-x="['left','left','left','left']" data-hoffset="['40','10','10','10']" 
                                 data-y="['top','top','top','top']" data-voffset="['440','358','228','145']"  
                                 data-fontsize="['55','40','40','27']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"

                                 data-type="text" 
                                 data-responsive_offset="on" 

                                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1200,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 7; white-space: nowrap;">Looking for <span class="text-primary"> Work </span>in your area?
                            </div>
                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption"
                                 id="slide-1-layer-4"
                                 data-x="['left','left','left','left']" data-hoffset="['50','50','10','10']" 
                                 data-y="['top','top','top','top']" data-voffset="['550','440','310','220']"
                                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1000,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":700,"to":"y:[175%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power2.easeOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;"}]'
                                 data-textAlign="['left','left','left','left']"

                                 style="z-index: 6"> <a  href="#more" class="animated-button thar-one uppercase font-weight-7 lspace-6">Learn More</a>
                            </div>

                            <!-- LAYER NR. 5 -->
                            <div class="tp-caption"
                                 id="slide-1-layer-5"
                                 data-x="['right','right','right','right']" data-hoffset="['225','50','120','120']" 
                                 data-y="['top','top','top','top']" data-voffset="['550','440','310','220']"
                                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1000,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":700,"to":"y:[175%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power2.easeOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;"}]'
                                 data-textAlign="['right','right','right','right']"

                                 style="z-index: 6"> <a rel="nofollow" href="{{path('signup')}}" class="animated-button thar-green uppercase font-weight-7 lspace-6">Join Now for Free!</a>
                            </div>

                        </li>
                        <!-- SLIDE  -->
                        <li data-index="rs-2" data-transition="slideleft" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="" data-description=""> 

                            <!-- MAIN IMAGE --> 
                            <img src="images/sliders/slide-2.png" alt=""  data-bgposition="center center" data-kenburns="off" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500" data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina> 

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption Photography-Display fweight-6 text-primary text-primary lspace-7 tp-resizeme" 
                                 id="slide-2-layer-1" 
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                 data-y="['top','top','top','top']" data-voffset="['325','145','45','75']" 
                                 data-fontsize="['20','18','16','16']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"

                                 data-type="text" 
                                 data-responsive_offset="on" 

                                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":750,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"

                                 style="z-index: 7; font-weight:700; white-space: nowrap;">Building & Construction Materials
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption Photography-Display fweight-8 white tp-resizeme" 
                                 id="slide-2-layer-2" 
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"  
                                 data-y="['top','top','top','top']" data-voffset="['378','208','80','100']" 
                                 data-fontsize="['65','50','40','27']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"

                                 data-type="text" 
                                 data-responsive_offset="on" 

                                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"

                                 style="z-index: 7; line-height:normal; white-space: nowrap;"> Building  <span class="text-primary"> Accessories </span>  
                            </div>
                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption Photography-Display fweight-8 white tp-resizeme" 
                                 id="slide-2-layer-3" 
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"  
                                 data-y="['top','top','top','top']" data-voffset="['455','248','118','135']"  
                                 data-fontsize="['65','50','40','27']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-type="text" 
                                 data-responsive_offset="on" 
                                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1200,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                 data-textAlign="['left','left','left','left']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 7; line-height:80px; white-space: nowrap;">Suppliers
                            </div>
                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption"
                                 id="slide-2-layer-4"
                                 data-x="['left','left','left','left']" data-hoffset="['50','50','10','10']"  
                                 data-y="['top','top','top','top']" data-voffset="['550','440','310','220']"
                                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1000,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":700,"to":"y:[175%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power2.easeOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;"}]'
                                 data-textAlign="['left','left','left','left']"
                                 style="z-index: 6"> <a rel="nofollow" href="{{path('store_index')}}" target="_blank" class="animated-button thar-green uppercase font-weight-7 lspace-6">Shop on BuildersHub</a>                    
                            </div>
                            <div class="tp-caption"
                                 id="slide-1-layer-5"
                                 data-x="['right','right','right','right']" data-hoffset="['225','50','120','120']" 
                                 data-y="['top','top','top','top']" data-voffset="['550','440','310','220']"
                                 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":1000,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":700,"to":"y:[175%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power2.easeOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;"}]'
                                 data-textAlign="['right','right','right','right']"
                                 style="z-index: 6"> <a rel="nofollow" href="{{path('register_store')}}" target="_blank" class="animated-button thar-one uppercase font-weight-7 lspace-6"> <i class="fa fa-shopping-cart"></i> List Your Store</a>
                            </div>
                        </li>
                    </ul>
                    <!-- END REVOLUTION SLIDER --> 
                </div>
            </div>
        </div>
        <!-- END REVOLUTION SLIDER WRAPPER --> 
    </div>
    <div class="clearfix"></div>
    <!-- END OF SLIDER WRAPPER -->
    <section class="sec-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="call-to-action">
                        <div class="col-md-9 col-sm-12 col-xs-12">
                            <h4 class="text-gyellow"><strong>Do you need help with your project?</strong></h4>
                            <p>
                                If you need artisans or building & construction professionals to help with your <strong><a  href="#">new project</a></strong> or <a href="#"><strong>repair/renovate a broken 
                                        property</strong></a>, <a href="#">BuildersHub</a> make it easy for you.
                            </p>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12" style="padding-top:20px"><a class="btn btn-cyan btn-small round pull-right uppercase" href="{{path('add_project')}}">Post Project <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end item-->
    <section class="sec-padding" id="more">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="sec-title-container less-padding-3 text-center">
                        <h2 class="font-weight-7  text-center">@ BuildersHub </h2>
                        <p class="line-height-2  less2">We bring together property owners, suppliers of building & constructions materials, contractors, engineers, archtect, artisans, surveyors, cost estimators, 
                            students, the general public and related professionals in the built environment  to exchange goods & services.</p>
                        <img src="images/titel-bg-02.png" alt=""/> </div>
                </div>
                <div class="clearfix margin-bottom-2"></div>
                <!--end title-->
                <div class="col-md-12 nopadding">
                    <div class="col-md-3 col-sm-6 animate-in" data-anim-type="fade-in-up" data-anim-delay="100">
                        <a href="{{path('find_builders',{'b-page':'artisans'})}}">
                            <div class="text-box padding-2 text-center hover-shadow-1 active">
                                <div class="icon-plain-medium margin-bottom-2"><i class=" fa fa-wrench text-primary" aria-hidden="true"></i></div>
                                <h5 class="font-weight-6 margin-bottom-1">Artisans & <br/>
                                    Craftmen </h5>
                                <p>Join to find work in your area or find qualified artisans to fix your broken property</p>
                            </div>
                        </a>
                    </div>
                    <!-- end item -->
                    <div class="col-md-3 col-sm-6 animate-in" data-anim-type="fade-in-up" data-anim-delay="250">
                        <a href="{{path('list_firms',{'b-page':'suppliers'})}}">
                            <div class="text-box padding-2 text-center hover-shadow-1">
                                <div class="icon-plain-medium margin-bottom-2"><i class=" fa fa-shopping-cart text-primary" aria-hidden="true"></i></div>
                                <h5 class="font-weight-6 margin-bottom-1">Suppliers of <br/>
                                    Building Materials</h5>
                                <p>Reach construction industry players with your merchandize, take your store online  </p>
                            </div>
                        </a>
                    </div>
                    <!-- end item -->
                    <div class="col-md-3 col-sm-6 animate-in" data-anim-type="fade-in-up" data-anim-delay="400">
                        <a href="{{path('find_builders',{'b-page':'professionals'})}}">
                            <div class="text-box padding-2 text-center hover-shadow-1">
                                <div class="icon-plain-medium margin-bottom-2"><i class=" fa fa-users text-primary" aria-hidden="true"></i></div>
                                <h5 class="font-weight-6 margin-bottom-1"> Engineers & Other <br />
                                    Professionals</h5>
                                <p>Share your experience and expand your reach! Let others benefit from your expertise</p>
                            </div>
                        </a>
                    </div>
                    <!-- end item -->
                    <div class="col-md-3 col-sm-6 animate-in" data-anim-type="fade-in-up" data-anim-delay="550">
                        <a href="{{path('list_firms',{'b-page':'construction-firms'})}}"> <div class="text-box padding-2 text-center hover-shadow-1">
                                <div class="icon-plain-medium margin-bottom-2"><i class="fa fa-tachometer text-primary" aria-hidden="true"></i></div>
                                <h5 class="font-weight-6 margin-bottom-1">Construction <br />
                                    Firms </h5>
                                <p>Order supplies at your convenience, attract qualified workers, manage your projects portfolio & assets</p>
                            </div>
                        </a>
                    </div>
                    <!-- end item -->
                    <div class="clearfix margin-bottom-4"></div>
                    <div class="col-md-3 col-sm-6 animate-in" data-anim-type="fade-in-up" data-anim-delay="100">
                        <a href="{{path('list_firms',{'b-page':'consulting-firms'})}}"> 
                            <div class="text-box padding-2 text-center hover-shadow-1">
                                <div class="icon-plain-medium margin-bottom-2"><i class=" fa fa-briefcase text-primary" aria-hidden="true"></i></div>
                                <h5 class="font-weight-6 margin-bottom-1">Consulting  <br/>
                                    Firms</h5>
                                <p>Secure more technical assignments, grow your business & manage your portfolio in one place</p>
                            </div>
                        </a>
                    </div>
                    <!-- end item -->
                    <div class="col-md-3 col-sm-6 animate-in" data-anim-type="fade-in-up" data-anim-delay="250">
                        <a href="{{path('students_index')}}"> 
                            <div class="text-box padding-2 text-center hover-shadow-1 ">
                                <div class="icon-plain-medium margin-bottom-2"><i class=" fa fa-graduation-cap text-primary" aria-hidden="true"></i></div>
                                <h5 class="font-weight-6 margin-bottom-1">Students at <br/>
                                    Various Levels</h5>
                                <p>Link up with industry, get internship opportunities, find relevant research topics</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="feature-box-25 margin-bottom active"> <img src="images/ag-1.jpg" alt="" class="img-responsive"/>
                            <div class="clearfix"></div>
                            <div class="text-box padding-2 text-center">                               
                                <h4 class="font-weight-6">{{is_granted('IS_AUTHENTICATED_REMEMBERED') ? 'Hi '~ app.user.firstname : 'Join for Free'}}</h4>
                                <p>
                                    {% if  is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                        It's great to have you on <a href="{{path('home')}}">BuildersHub</a>. Make the most of this site by engaging people who need your professional services 
                                        or solicit the services of others to undertake construction or other engineering services you want done.
                                        <a class="btn btn-prim btn-xround-2 border-1x light" href="{{path('account_settings')}}">Launch My Account</a> 
                                    {% else %}
                                        If you are a player in the construction or infrastructure development sector, you are right at home. Let's grow together 
                                        <br/>
                                        <a class="btn btn-prim btn-xround-2 border-1x light" href="{{path('signup')}}">Create Account</a>
                                    {% endif %}                        
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <!-- end section -->
    <section class="sec-padding" style="background: url('{{asset("images/parallax/parallax_bg_2.jpg")}}')">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="sec-title-container less-padding-3 text-center">
                        <h2 class="font-weight-7 text-white text-center"> Our Services </h2>
                        <p class="line-height-2 text-white less2">We work hard to bring top-notch solutions targeted at the construction sector. We use the latest 
                            in web and mobile technologies in crafting our solutions so you can derive maximum value at minimum cost. </p>
                        <img src="images/titel-bg01.png" alt=""/> </div>
                </div>
                <div class="clearfix margin-bottom-2"></div>
                <!--end title-->
                <div class="col-md-4 margin-bottom">
                    <div class="icon-plain-msmall left"><br/>
                        <i class="fa fa-briefcase text-primary " aria-hidden="true"></i></div>
                    <div class="text-box-right less-padding-5">
                        <h5 class="text-white font-weight-7  less-mar-2">Portfolio Management</h5>
                        <p class="text-white opacity-5">Manage your projects, get progress updates of works from your field staff and effectively manage your 
                            resources to reduce cost overruns and deliver projects on budget and on schedule</p>
                    </div>
                </div>
                <!--end item -->
                <div class="col-md-4 margin-bottom">
                    <div class="icon-plain-small left"><br/>
                        <i class="fa fa-truck text-primary" aria-hidden="true"></i></div>
                    <div class="text-box-right less-padding-5">
                        <h5 class="text-white font-weight-7  less-mar-2">Equipment Rentals</h5>
                        <p class="text-white opacity-5">Do not lose money! You can rent out idle equipment or hire others to augment your fleet. For construction firms we also 
                            provide you tools to keep an inventory of your equipment & track their assignment to projects. </p>
                    </div>
                </div>
                <!--end item -->
                <div class="col-md-4 margin-bottom">
                    <div class="icon-plain-msmall left"><br/>
                        <i class="fa fa-user text-primary" aria-hidden="true"></i></div>
                    <div class="text-box-right less-padding-5">
                        <h5 class="text-white font-weight-7  less-mar-2">Online Profile Builder</h5>
                        <p class="text-white opacity-5">Manage your brand, tell your story, engage your clients and expand your reach. Your potential clients can engage with you directly via your online profile using our direct message & chat feature</p>
                    </div>
                </div>
                <!--end item -->
                <div class="clearfix"></div>
                <div class="col-divider-margin-4"></div>
                <div class="col-md-4 margin-bottom">
                    <div class="icon-plain-msmall left"><br/>
                        <i class="fa fa-bullseye text-primary" aria-hidden="true"></i></div>
                    <div class="text-box-right less-padding-5">
                        <h5 class="text-white font-weight-7  less-mar-2">Industry News & Events</h5>
                        <p class="text-white opacity-5">
                            We feature industry news, construction technology trends, industry insights, events and a host of other sector related stories to keep you abreast with happenings in the infrastructure development sector.
                        </p>
                    </div>
                </div>
                <!--end item -->
                <div class="col-md-4 margin-bottom">
                    <div class="icon-plain-msmall left"><br/>
                        <i class="fa fa-shopping-cart text-primary" aria-hidden="true"></i></div>
                    <div class="text-box-right less-padding-5">
                        <h5 class="text-white font-weight-7  less-mar-2"> Suppliers Online</h5>
                        <p class="text-white opacity-5">You can place orders, request for quotations/invoices, request for price list or engage in any industry related transaction with our numerous building & construction material suppliers across the country </p>
                    </div>
                </div>
                <!--end item -->
                <div class="col-md-4 margin-bottom">
                    <div class="icon-plain-small left"><br/>
                        <i class="fa fa-laptop text-primary" aria-hidden="true"></i></div>
                    <div class="text-box-right less-padding-5">
                        <h5 class="text-white font-weight-7  less-mar-2">Technology Tools</h5>
                        <p class="text-white opacity-5">We help you deploy appropriate construction sector technology, software, web solutions and  mobile applications for enhanced productivity and smooth running of your business.
                        </p>
                    </div>
                </div>
                <!--end item --> 
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <!-- end section -->
    <div class="sec-padding section-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12 nopadding">
                    <div class="sec-title-container less-padding-3 text-center">
                        <h2 class="font-weight-7 text-center">Featured Suppliers on BuildersHub</h2>
                        <p class="line-height-2 less2">
                            Here are some of our partners joining hands with us to ease the burden of contractors, artisans & craftmen, property owners and consultants.
                            Go ahead visit their online stores and deal directly with them.
                        </p>
                        <img src="{{asset('images/titel-bg-02.png')}}" alt=""/> </div>
                </div>
                <!--end title-->
                <div class="clearfix margin-bottom-3"></div>
                {{ render_esi(controller('App\\Controller\\PortalUtilityController::renderHomeFragments', {'template':"top.suppliers.intro"}), {"default":'Loading Cart....'})}}                                  
            </div>
        </div>
    </div>
    <!-- end section -->
    <div class="clearfix"></div>
    <section class="sec-padding">
        <div class="container-fulid">
            <div class="row nopadding">
                <div class="col-md-12 nopadding">
                    <div class="sec-title-container less-padding-3 text-center">
                        <h2 class="font-weight-7 text-center">Latest Sector News & Events</h2>
                        <p class="line-height-2 less2">
                            Stay informed, browse through our news, event lists and articles giving insight into the infrastructure deveopment sector. You even could 
                            become a guest author by sharing your insight on <a href='#'>BuildersHub</a> 
                        </p>
                        <img src="{{asset('images/titel-bg-02.png')}}" alt=""/> </div>
                </div>
                <!--end title-->
                <div class="clearfix margin-bottom-3"></div>
                {{ render_esi(controller('App\\Controller\\PortalUtilityController::renderHomeFragments'), {"default":'Loading Cart....'})}}                                  
            </div>
        </div>
    </section>
    <!-- end section -->
    <div class="clearfix"></div>
    <section class="sec-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 nopadding">
                    <div class="sec-title-container sec-tpadding-2 less-padding-3 text-center">
                        <h2 class="font-weight-7 text-center">Featured Builders</h2>
                        <p class="line-height-2 less2">
                            Artsians, Craftmen and Technical Professionals are key partners of BuildersHub, we work with them to give you excellent service when you engage to fix/repair your broken property or undertake a new project.
                            Here are some of our highly recommended buolders.
                        </p>
                        <img src="{{asset('images/titel-bg-02.png')}}" alt=""/> </div>
                </div>
                <!--end title-->
                <div class="clearfix margin-bottom-3"></div>
                <div id="featuredBuilder"></div>
                {{ render_esi(controller('App\\Controller\\PortalUtilityController::renderHomeFragments', {"template":"featured.builders"}), {"default":'Loading Cart....'})}}                                                
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <!-- end section -->
    <section class="sec-bpadding-2 section-light">
        <!-- What people are saying -->
    </section>
    <div class="clearfix"></div>
    <!-- end section -->
    <div class="sec-bpadding-2">
        <div class="bg-shape-image-2">
            <div class="container">
                <div class="col-lg-12 col-md-6 col-sm-12">
                    <div class="col-md-12 nopadding">
                        <div class="sec-title-container  less-padding-3 text-center">
                            <h1 class="font-weight-6 text-white line-height-6"> Take your Construction Sector Business to the Next Level </h1>
                            <p class="font-weight-4 line-height-3 lspace-sm text-center text-white less2">Welcome to  <span class="text-primary"> BuildersHub </span>  Advisory Services.</p>
                        </div>
                    </div>
                    <!--end title-->
                    <div class="clearfix margin-bottom-2"></div>
                    <div class="col-lg-3 col-sm-9 margin-bottom-5 text-center"> <i class="fa fa-lightbulb-o text-primary iconsize4"></i>
                        <h4 class="text-white font-weight-6 padding-top-2"><a href="#">Industry Insight</a></h4>
                        <p class="text-white">We carry out research into the construction sector to provide you insight for informed decision making.</p>
                    </div>
                    <div class="col-lg-3 col-sm-9 margin-bottom-5 text-center"> <i class="fa fa-desktop text-primary iconsize4"></i>
                        <h4 class="text-white font-weight-6 padding-top-2"><a href="#" >Techonogy & Software</a></h4>
                        <p class="text-white">We offer advise on how to take advantage of technology to grow your business. Custom software development</p>
                    </div>

                    <div class="col-lg-3 col-sm-9 margin-bottom-5 text-center"> <i class="fa fa-graduation-cap text-primary iconsize4"></i>
                        <h4 class="text-white font-weight-6 padding-top-2"><a href="#" >Skills Development</a></h4>
                        <p class="text-white">We work with professional bodies, training institutions and industry experts to offer continuous professional development</p>
                    </div>
                    <div class="col-lg-3 col-sm-9 margin-bottom-5 text-center"> <i class="fa fa-briefcase text-primary iconsize4"></i>
                        <h4 class="text-white font-weight-6 padding-top-2"><a href="#" >Project Management</a></h4>
                        <p class="text-white">We have expertise in project management and can work with you to deliver your projects on time and within budget</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section  -->
    <div class="clearfix"></div>

    <!-- end section-->
{% endblock %}
{% block initScripts %}  
    {{ parent()}}
    <script type="text/javascript" src="{{asset('js/cubeportfolio/slider-projects.js')}}"></script> 
    <script>
        var tpj = jQuery;
        var revapi4;
        tpj(document).ready(function () {
            if (tpj("#rev_slider").revolution === undefined) {
                revslider_showDoubleJqueryError("#rev_slider");
            } else {
                revapi4 = tpj("#rev_slider").show().revolution({
                    sliderType: "standard",
                    jsFileLocation: "{{asset('js/revolution-slider/js/')}}",
                    sliderLayout: "auto",
                    dottedOverlay: "none",
                    delay: 9000,
                    navigation: {
                        keyboardNavigation: "off",
                        keyboard_direction: "horizontal",
                        mouseScrollNavigation: "off",
                        onHoverStop: "off",
                        arrows: {
                            style: "uranus",
                            enable: true,
                            hide_onmobile: false,
                            hide_under: 100,
                            hide_onleave: true,
                            hide_delay: 200,
                            hide_delay_mobile: 1200,
                            tmp: '',
                            left: {
                                h_align: "left",
                                v_align: "center",
                                h_offset: 35,
                                v_offset: 0
                            },
                            right: {
                                h_align: "right",
                                v_align: "center",
                                h_offset: 35,
                                v_offset: 0
                            }
                        }
                        ,
                        touch: {
                            touchenabled: "on",
                            swipe_threshold: 75,
                            swipe_min_touches: 1,
                            swipe_direction: "horizontal",
                            drag_block_vertical: false
                        }
                    },
                    viewPort: {
                        enable: true,
                        outof: "pause",
                        visible_area: "80%"
                    },

                    responsiveLevels: [1240, 1024, 778, 480],
                    gridwidth: [1240, 1024, 778, 480],
                    gridheight: [900, 750, 500, 360],
                    lazyType: "smart",
                    parallax: {
                        type: "mouse",
                        origo: "slidercenter",
                        speed: 2000,
                        levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50]
                    },
                    shadow: 0,
                    spinner: "off",
                    stopLoop: "off",
                    stopAfterLoops: -1,
                    stopAtSlide: -1,
                    shuffle: "off",
                    autoHeight: "off",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    disableProgressBar: "on",
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        nextSlideOnWindowFocus: "off",
                        disableFocusListener: false
                    }
                });
            }
        });	/*ready*/
    </script>
{% endblock %}