<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-V6FW3JQS0C"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'G-V6FW3JQS0C');
        </script>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <title>{{category is defined ? category ~' |'}} Construction and building materials, construction equipment spare parts, light and heavy duty construction equipment</title>
        {% block stylesheets %}
            {% include 'store/shared/css.html.twig' %}
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico')}}">
    </head>
    <body class="{% block bodyClass %} page-product grid-view {% endblock %}">
        <div class="wrapper">
            <form id="block-search-mobile" method="get" class="block-search-mobile">
                <div class="form-content">
                    <div class="control">
                        <a href="#" class="close-block-serach"><span class="icon fa fa-times"></span></a>
                        <input type="text" name="search" placeholder="Search" class="input-subscribe">
                        <button type="submit" class="btn search">
                            <span><i class="fa fa-search" aria-hidden="true"></i></span>
                        </button>
                    </div>
                </div>
            </form>
            <!-- HEADER -->
            {% include 'store/shared/page.header.html.twig' with {pageMenu: block('pageMenu')} %}
            <!-- HEADER -->
            <!-- MAIN -->
            <main class="{% block mainClass %} site-main product-list product-grid {% endblock %}" id="site-main">
                {% block breadcrumbs %}
                    <div class="container">
                        <ol class="breadcrumb-page">
                        </ol>
                    </div>
                {% endblock %}
                {% include 'store/shared/product.comparison.dialog.html.twig' %}
                {% block content %}  

                {% endblock %}
                <div class="block-section-brand">
                    <div class="container">
                        <div class="section-brand style1">
                            <!--<div class="owl-carousel nav-style3" data-nav="true" data-autoplay="false" data-dots="false" data-loop="true" data-margin="2" data-responsive='{"0":{"items":1},"480":{"items":2},"600":{"items":4},"1000":{"items":6}}'>
                                <a href="" class="item-brand"><img src="{{asset('images/home1/brand1.jpg')}}" alt="brand1"></a>
                                <a href="" class="item-brand"><img src="{{asset('images/home1/brand1.jpg')}}" alt="brand1"></a>
                                <a href="" class="item-brand"><img src="{{asset('images/home1/brand1.jpg')}}" alt="brand1"></a>
                                <a href="" class="item-brand"><img src="{{asset('images/home1/brand1.jpg')}}" alt="brand1"></a>
                                <a href="" class="item-brand"><img src="{{asset('images/home1/brand1.jpg')}}" alt="brand1"></a>
                                <a href="" class="item-brand"><img src="{{asset('images/home1/brand1.jpg')}}" alt="brand1"></a>
                            </div>-->
                        </div>
                    </div>
                </div>
            </main><!-- end MAIN -->
            <!-- FOOTER -->
            {% block footer %}
                {% include 'store/shared/footer.opt1.html.twig' %}
            {% endblock %}
            <!--back-to-top  -->
            <!-- <a href="#" class="back-to-top">
                <i aria-hidden="true" class="fa fa-angle-up"></i>
            </a> -->
        </div>
        <a href="#" id="scrollup" title="Scroll to Top">Scroll</a>

        {% block javascripts %}
            {% include 'store/shared/scripts.html.twig' %}
            <script src="{{asset('js/hubstore.js')}}"></script> 
        {% endblock %}
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
    /** var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
     (function () {
     var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
     s1.async = true;
     s1.src = 'https://embed.tawk.to/5b3f2a596d961556373d77bc/default';
     s1.charset = 'UTF-8';
     s1.setAttribute('crossorigin', '*');
     s0.parentNode.insertBefore(s1, s0);
     })();*/
        </script>
        <!--End of Tawk.to Script-->
    </body>
</html>
