{% block builderWorkDetails %}
    {% include "account/includes/specialty.dialog.html.twig" %}
    {{form_start(profileForm, { method: 'POST', action:path('update_user_profile') ,'attr':{id: "builderExpertiseForm"} })}}                                    
    <div class="frm-row">
        <div class="section colm colm12">
            <div class="spacer-b30">
                <div class="tagline"><span>Which category best describe your main profession</span></div><!-- .tagline -->
            </div>
            <div class="option-group field">
                <div class="row">
                    {% for profession in categories %}
                        <div class="col-md-4">
                            <label class="option block">
                                <input type="radio" name="workCategory" value="{{profession.id}}" {{user.person.profession == profession ? "checked"}}>
                                <span class="radio"></span> <span title="{{profession.practitioner}}">{{profession.practitioner|length > 22 ? profession.practitioner|slice(0, 22)~"..." : profession.practitioner}}</span>
                                <b class="tooltip"><em> {{profession.name}} {{profession.description is not null ?" - " ~profession.description}}</em></b>                  
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div><!-- end .option-group section -->
        </div><!-- end section -->       
        <div class="section colm colm12" id="specialtyPanel">
            <br/><br/>
            <div class="spacer-b15">
                <div class="tagline"><span> Select all specific areas of your work</span></div><!-- .tagline -->
            </div>
            <div class="option-group field">
                <div class="row">
                    {% for specialty in specialties %}
                        <div class="col-md-4">
                            <label class="option block">
                                <input type="checkbox" name="languages" value="{{specialty.id}}" {{specialty in user.person.builderSpecialties? "checked"}} >
                                <span class="checkbox"></span> <span title="{{specialty}}">{{specialty|length > 25 ? specialty|slice(0, 25)~'...' : specialty}}</span>                               
                            </label>
                        </div>
                    {% endfor %}
                    <input type="hidden" name="selectedSpecialties" id="selectedSpecialties" />
                </div>
                <p>   
                <div class="col-divider-margin-1"></div>
                <div class="divider-line dotted text-gray-2"></div> 
                <div class="col-divider-margin-1"></div>
                <small><strong>Can't find your area of specialization or your work area in the list?</strong></small>
                <a href="#specialtyDlg" data-toggle="modal" style="color: #006974"><strong>Add New Item</strong></a>
                </p>
            </div><!-- end .option-group section -->
        </div><!-- end section -->
    </div><!-- end frm-row section -->
    <br/><br/>
    <div class="spacer-b15">
        <div class="tagline"><span> Your work summary</span></div><!-- .tagline -->
    </div>
    <div class="section">
        <label class="label"> <strong>Briefy describe what you do</strong></label>
        <label class="field prepend-icon">
            {{form_widget(profileForm.profile, {'attr': {class:"gui-textarea", placeholder:"Summary what you do" } } )}}
            <span class="field-icon"><i class="fa fa-lightbulb-o"></i></span>
            <span class="input-hint"> <strong>Hint:</strong> Say something brief and catchy about your work? 80 - 300 characters.</span>   
        </label>
    </div><!-- end section -->
    <div class="result"></div><!-- end .result  section --> 
    <!-- end .form-body section -->
    <div class="form-footer text-right">
        <button type="submit" data-btntext-sending="Sending..." class="button btn-primary">Update Details</button>
    </div><!-- end .form-footer section -->
    {{ form_row(profileForm._token) }} 
    {{ form_end(profileForm, {'render_rest': false}) }}   
{% endblock %}
{% block inviteFriends %}
    <div id="invite-firends-dialog" class="smartforms-modal" role="alert">
        <div class="smartforms-modal-container">
            <div class="smartforms-modal-header">
                <h3 style="color: white">Invite Friends</h3>
                <a href="#" class="smartforms-modal-close">&times;</a>            
            </div><!-- .smartforms-modal-header -->
            <div class="smartforms-modal-body">
                <div class="smart-wrap">
                    <div class="smart-forms smart-container wrap-full">
                        <div class="form-body">
                            <div class="col-md-6">
                                <h4 class="uppercase"><strong>Email Address</strong></h4>
                            </div>
                            <div class="col-md-6">
                                <h4 class="uppercase"><strong>User type</strong></h4>
                            </div>
                            {{form_start(invitationForm, { method: 'POST', action:path('invite_friends') ,'attr':{id: "inviteFriendsForm"} })}}                                    
                            <div class="section col-md-6">                                
                                <label class="field prepend-icon">
                                    {{form_widget(invitationForm.email, {'attr': {class:"gui-input", placeholder:"Enter email address 1" } } )}}
                                    <span class="field-icon"><i class="fa fa-email"></i></span>
                                </label>
                            </div><!-- end section -->
                            <div class="section col-md-6">                                
                                <label class="field select">
                                    <select id="s1" name="userType">
                                        <option value="">Select Person Type</option>
                                        <option value="ARTISAN">Artisan</option>
                                        <option value="PROFESSIONAL">Professional</option>
                                        <option value="STUDENT">Student</option>
                                        <option value="SUPPLIER">Supplier</option>
                                    </select>
                                    <i class="arrow double"></i>
                                    <b class="tooltip tip-left"><em> If you know exactly what this person does, let us know</em></b>                    
                                </label>  
                            </div><!-- end section -->
                            <div class="section col-md-6">                                
                                <label class="field prepend-icon">
                                    {{form_widget(invitationForm.email1, {'attr': {class:"gui-input", placeholder:"Enter email address 2" } } )}}
                                    <span class="field-icon"><i class="fa fa-email"></i></span>
                                </label>
                            </div><!-- end section -->
                            <div class="section col-md-6">                                
                                <label class="field select">
                                    <select id="s1" name="userType1">
                                        <option value="">Select Person Type</option>
                                        <option value="ARTISAN">Artisan</option>
                                        <option value="PROFESSIONAL">Professional</option>
                                        <option value="STUDENT">Student</option>
                                        <option value="SUPPLIER">Supplier</option>
                                    </select>
                                    <i class="arrow double"></i>
                                    <b class="tooltip tip-left"><em> If you know exactly what this person does, let us know</em></b>                    
                                </label>  
                            </div><!-- end section -->
                            <div class="section col-md-6">                                
                                <label class="field prepend-icon">
                                    {{form_widget(invitationForm.email2, {'attr': {class:"gui-input", placeholder:"Enter email address 3" } } )}}
                                    <span class="field-icon"><i class="fa fa-email"></i></span>
                                </label>
                            </div><!-- end section -->
                            <div class="section col-md-6">                                
                                <label class="field select">
                                    <select id="s1" name="userType2">
                                        <option value="">Select Person Type</option>
                                        <option value="ARTISAN">Artisan</option>
                                        <option value="PROFESSIONAL">Professional</option>
                                        <option value="STUDENT">Student</option>
                                        <option value="SUPPLIER">Supplier</option>
                                    </select>
                                    <i class="arrow double"></i>
                                    <b class="tooltip tip-left"><em> If you know exactly what this person does, let us know</em></b>                    
                                </label>  
                            </div>
                            <div class="section col-md-6">                                
                                <label class="field prepend-icon">
                                    {{form_widget(invitationForm.email3, {'attr': {class:"gui-input", placeholder:"Enter email address 4" } } )}}
                                    <span class="field-icon"><i class="fa fa-email"></i></span>
                                </label>
                            </div><!-- end section -->
                            <div class="section col-md-6">                                
                                <label class="field select">
                                    <select id="s1" name="userType3">
                                        <option value="">Select Person Type</option>
                                        <option value="ARTISAN">Artisan</option>
                                        <option value="PROFESSIONAL">Professional</option>
                                        <option value="STUDENT">Student</option>
                                        <option value="SUPPLIER">Supplier</option>
                                    </select>
                                    <i class="arrow double"></i>
                                    <b class="tooltip tip-left"><em> If you know exactly what this person does, let us know</em></b>                    
                                </label>  
                            </div><!-- end section -->
                            <div class="section col-md-6">                                
                                <label class="field prepend-icon">
                                    {{form_widget(invitationForm.email4, {'attr': {class:"gui-input", placeholder:"Enter email address 5" } } )}}
                                    <span class="field-icon"><i class="fa fa-email"></i></span>
                                </label>
                            </div><!-- end section -->
                            <div class="section col-md-6">                                
                                <label class="field select">
                                    <select id="s1" name="userType4">
                                        <option value="">Select Person Type</option>
                                        <option value="ARTISAN">Artisan</option>
                                        <option value="PROFESSIONAL">Professional</option>
                                        <option value="STUDENT">Student</option>
                                        <option value="SUPPLIER">Supplier</option>
                                    </select>
                                    <i class="arrow double"></i>
                                    <b class="tooltip tip-left"><em> If you know exactly what this person does, let us know</em></b>                    
                                </label>  
                            </div><!-- end section -->
                        </div><!-- end .form-body section -->
                        <div class="form-footer">
                            <button type="button" class="btn btn-action btn-medium btn-default" id="cancelSmartModal">Cancel  </button>                      
                            <button type="submit" class="btn btn-action btn-lg btn-success pull-right" >Send Invitations <i class="fa fa-send"></i> </button>
                        </div><!-- end .form-footer section -->
                        {{ form_row(invitationForm._token) }} 
                        {{ form_end(invitationForm, {'render_rest': false}) }}   
                    </div><!-- end .smart-forms section -->
                </div><!-- end .smart-wrap section -->            
            </div><!-- .smartforms-modal-body -->
        </div><!-- .smartforms-modal-container -->
    </div><!-- .smartforms-modal 1 -->
{% endblock %}