<div class="row">               
    <div class="col-xs-12">
        {% if error is defined and error|length > 0 %}
            <div class="alert alert-danger">
                <h4><i class="icon fa fa-ban"></i> Account registration failure</h4>                   
                <small>{{error.message}}</small>
            </div>
        {% endif %}
        {% set timeOut = app.request.get('timeOut')%}
        {% if timeOut|length>0 %}
            <div class="alert alert-danger">
                <i class="fa fa-clock-o pull-right"></i> 
                <strong>{{ timeOut }}</strong>
            </div>
        {% endif %}
    </div>
    <div class="col-md-7">
        <div class="well">
            {{form_start(form, {method:"POST", action: path('register_user', {'type':'ARTISAN'}), 'attr':{id:'registerForm'} } )}}                           
            {% include 'account/includes/common.form.fields.html.twig' %}
            {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false})}}
        </div>
    </div>
    <div class="col-md-5">
        <p class="lead">As an <span class="text-success"><strong>ARTISAN</strong></span> you can: </p>
        <ul class="list-unstyled" style="line-height: 2">
            <li><span class="fa fa-check text-success"></span> Find work in your area</li>
            <li><span class="fa fa-check text-success"></span> Polish your skills</li>
            <li><span class="fa fa-check text-success"></span> Promote your business/brand</li>
            <li><span class="fa fa-check text-success"></span> Meet more clients</li>
            <li><span class="fa fa-check text-success"></span> Learn about certifications in your field</li>
            <li><span class="fa fa-check text-success"></span> Easily find & hire tools</li>
            <li><span class="fa fa-check text-success"></span> Buy/Order building supplies <small>(from many suppliers)</small></li>
            <li><a href="#"><u>Read more</u></a></li>
        </ul>
        <p><a href="#" class="btn btn-info btn-block"> Use My <i class="fa fa-facebook"></i>acebook Account</a></p>
    </div>
</div>
