
{% set passwordError = app.request.get('error')%}
{% if passwordError|length>0 %}
    <div class="alert alert-danger">
        <i class="fa fa-clock-o pull-right"></i> 
        {{ passwordError }}
    </div>
{% endif %}
{{form_start(passwordForm, { method: 'POST', action: path('change_password'), 'attr':{id: "passwordResetForm"} })}}  
<div class="section">
    <label class="field prepend-icon">
        {{form_widget(passwordForm.oldPassword, {'attr': {class:"gui-input", placeholder:"Enter current password" } } )}}
        <span class="field-icon"><i class="fa fa-lock"></i></span>
    </label>
</div><!-- end section -->
<div class="section">
    <label class="field prepend-icon">
        {{form_widget(passwordForm.password.first, {'attr': {class:"gui-input", placeholder:"Enter new password" } } )}}
        <span class="field-icon"><i class="fa fa-lock"></i></span>
    </label>
</div><!-- end section -->
<div class="section">
    <label class="field prepend-icon">
        {{form_widget(passwordForm.password.second, {'attr': {class:"gui-input", placeholder:"Repeat new password" } } )}}
        <span class="field-icon"><i class="fa fa-repeat"></i></span>
    </label>
</div><!-- end section -->                                         
<div class="form-footer text-right">
    <button type="submit" class="btn h5a-btn btn-info pull-right" ><i class="fa fa-lock"></i> Reset Password</button>
</div>
{{ form_row(passwordForm._token) }} 
{{ form_end(passwordForm, {'render_rest': false}) }}


