<div class="ce4-feature-box-3 margin-bottom box-shadow-1 hover-shadow-1">
    {% include "account/firm/includes/firm.award.dlg.html.twig" %}
    <p align="right">
        <a href="#firmAwardDlg" data-toggle="modal">Add Award</a>
    </p>
    <div class="text-box padding-2 border">
        <h3>Awards & Accolates</h3>
        {% for award in company.awards %}
            <div class="col-md-12 col-sm-12">
                <div class="iconbox-large left outline-gray-2"><img src="{{asset("uploads/logos/"~award.featureImage)}}"/><!--<span class="icon-pencil" data-icon="&#xe076;"></span>--></div>
                <div class="text-box-right">
                    <h5>{{award.name}}<a class="text-danger pull-right" title="Edit {{award.name}}" href="{{path('save_personal_data', {'tab':'personal-details', 'sub':'awards','entityId':award.id})}}" id="editPersonalData"><small><i class="fa fa-pencil"></i></small></a></h5>
                    <p><a href="#">{{award.awardingOrganisation}}</a></p>

                    <a href="#" class="read-more">@ {{award.placeOfAward}} <i class="fa fa-angle-double-right"></i></a> </div>
            </div>
            <div class="col-divider-margin-1"></div>
            <div class=" divider-line dotted light"></div>  
            <div class="col-divider-margin-1"></div>  
        {% endfor %}
    </div>
</div>