<div class="table-responsive">
    <table class="table table-bordered" id="orderItems"  style="background-color: whitesmoke">
        <thead>
            <tr>
                <th>Product</th>
                <th>Category</th>
                <th>Serial #</th>              
                <th>Qty</th>
                <th>Unit Price</th>
                <th>Sub Total</th>
                <th>Tax</th>
                <th>Discount (%)</th>
                <th>Total</th> 
                <th>Status</th> 
            </tr>
        </thead>
        <tbody>
            {% set orderItems = order_items(supplier, order) %}
            {% for item in orderItems %}            
            <tr>
                <td>{{item.product}}</td>
                <td>
                    {{item.product.category}}
                </td>
                <td>{{item.product.productData.sku}}</td>                                                             
                <td><span>{{item.quantity}}</span></td>
                <td><span>GH¢{{item.salePrice|number_format(2, '.',',')}}</span></td>
                <td><span>GH¢{{item.subTotal|number_format(2, '.',',')}}</span></td>
                <td><span class="label label-danger">GH¢{{item.tax|number_format(2, '.',',')}}</span></td>
                <td><span>-</span></td>                
                <td><span class="label label-primary">GH¢{{item.total|number_format(2, '.',',')}}</span></td>      
                <td><span>{{item.status}}</span></td> 
            </tr> 
            {% endfor %}
        </tbody>       
    </table>
</div>
